{
  "openapi": "3.1.0",
  "info": {
    "title": "Anrok API",
    "version": "1.1",
    "termsOfService": "https://www.anrok.com/privacy-terms",
    "contact": {
      "email": "support@anrok.com"
    },
    "license": {
      "name": "All rights reserved",
      "url": "https://www.anrok.com"
    },
    "x-logo": {
      "url": "https://global-uploads.webflow.com/632add85afcd1ac30aa74675/6357842d130e1f3e0e23d1fe_anrok_logo.svg"
    },
    "description": "# API reference\n\nThe Anrok API server is accessible at `https://api.anrok.com`.\n\nAll requests are HTTP POSTs with JSON in the body.\n\nAuthentication is via an HTTP header `Authorization: Bearer {apiKey}`.\n\nThe default rate limit for a seller account is 10 API requests per second.\n"
  },
  "tags": [
    {
      "name": "Customers",
      "description": "The Anrok Customers API endpoints allow you to register customers on your seller\naccount before their first transaction, and to retrieve the customers on your account. Normally a customer is created automatically when its\nfirst transaction is ingested; creating it ahead of time makes the customer searchable by name\nin Anrok - for example, when uploading a tax exemption certificate before the customer's first\nbilling - without needing to push a placeholder transaction.\n"
    },
    {
      "name": "Customer certificates",
      "description": "A sales tax exemption certificate documents the exemption claimed by a purchaser\nto legally make a tax-free purchase.\nCertificates can be uploaded to Anrok via the Anrok UI as well as via the API.\nSee our\n<a href=\"https://help-center.anrok.com/hc/en-us/articles/24861687025299-Upload-an-exemption-certificate\">Help Center article</a>\nfor more information.\n"
    },
    {
      "name": "Transactions",
      "description": "This documentation describes how to use Anrok's Transactions API to synchronize transactions between Anrok and your billing system, as well as calculate sales tax for new invoices. Use of this API is generally recommended for sellers with custom billing systems or workflows that prevent you from using one of our pre-built platform integrations. Sellers utilizing Stripe Subscriptions or Checkout may also use this API to calculate and add tax on initial invoices, while continuing to use Anrok's Stripe integration to manage tax for subsequent billing cycles.\n\n# Invoice lifecycle\n1. When an invoice is created: the billing system should call the `createEphemeral` endpoint to calculate the sales tax amount.\n1. When an invoice is updated: same as above.\n1. When an invoice is finalized and ready to send to the customer: the billing system should call the `createOrUpdate` endpoint so that the transaction is recorded in Anrok.\n1. When an invoice is paid: Anrok does not need to be notified. Sellers are required to remit sales tax to a state upon invoice, not receipt of payment.\n\nWhile the above covers a standard invoice lifecycle, the Transactions API also includes endpoints for exceptional states like voiding and negating invoices, which are described below.\n"
    },
    {
      "name": "Products",
      "description": "The Anrok Products API endpoints allow you to manage the products on your seller\naccount. Each product is identified by an external ID and is assigned a product tax category\n(PTC) which determines the product's taxability in each jurisdiction.\nPTCs may be one of Anrok's standard PTCs or a custom PTC that has been created on your seller account.\n"
    },
    {
      "name": "Product mappings",
      "description": "The Anrok Product Mappings API endpoint allows you to dynamically map product IDs\nfor [Anrok-built billing system integrations](https://help-center.anrok.com/hc/en-us/articles/41966628275219-Anrok-integration-types#:~:text=Anrok%20API%20integration-,Anrok%2Dbuilt%20integrations,-These%20integrations%20are).\nNote that this API endpoint is only used alongside an existing Anrok-built integration\nand is not used for standalone product mappings. When using an Anrok-built billing\nsystem integration, you can use this API endpoint to create many-to-1 mappings to\nassociate various products in your billing system with equivalent products that have\nalready been created in Anrok.\n"
    },
    {
      "name": "Tax ID validation",
      "description": "**The Anrok Tax ID Validation endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your Anrok seller account.**\n\n\n1. Pass a customer address and an empty array of customerTaxIds:\n\t- Anrok verifies the customer address is valid for tax calculation.\n\t- Anrok responds with the list of customer tax IDs to collect.\n1. Collect the customer tax IDs and call the API endpoint again to validate them:\n\t- Anrok provides a list of valid tax IDs for each applicable jurisdiction.\n"
    },
    {
      "name": "Address resolution",
      "description": "The Anrok Address Resolution endpoint resolves a customer address to its normalized form, suitable for sales tax calculations, as well as taxable\njurisdiction(s). It uses the same address resolution that tax calculation relies on, so a\nsuccessful response means the address would process on an invoice.\n\nFor addresses in the United States and Canada, Anrok returns the full resolved address. For all other countries, only the country is returned.\n\n**Resolving international addresses to street-level is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.**"
    },
    {
      "name": "Filings",
      "description": "**The Filings endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.**\n\nThis endpoint can be used to fetch filings from Anrok.\n"
    }
  ],
  "externalDocs": {
    "description": "API Tutorials",
    "url": "https://apidocs.anrok.com/tutorials"
  },
  "servers": [
    {
      "url": "https://api.anrok.com"
    }
  ],
  "paths": {
    "/v1/seller/customers/create": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create customer",
        "description": "Creates a new customer in Anrok, given a unique external Customer ID.\n",
        "operationId": "customersCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomer"
              },
              "example": {
                "id": "cus_K39sWBu92Lo",
                "name": "Acme Inc",
                "emailAddress": "billing@acme.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "missingRequiredProperty": {
                    "value": "Request body: \"id\": Required.",
                    "summary": "Missing required property"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "idAlreadyInUse",
                        "invalidEmailAddress"
                      ]
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "examples": {
                  "idAlreadyInUse": {
                    "value": {
                      "type": "idAlreadyInUse"
                    },
                    "summary": "A customer with this ID already exists"
                  },
                  "invalidEmailAddress": {
                    "value": {
                      "type": "invalidEmailAddress"
                    },
                    "summary": "Email address is not valid"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        }
      }
    },
    "/v1/seller/customers/id:{customerId}/get": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer",
        "description": "Retrieves a customer by its ID.",
        "operationId": "customersGet",
        "requestBody": {
          "$ref": "#/components/requestBodies/Empty"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                },
                "example": {
                  "id": "cus_K39sWBu92Lo",
                  "name": "Acme Inc",
                  "emailAddress": "billing@acme.com"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "customerIdNotFound"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "customerIdNotFound"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerId"
        }
      ]
    },
    "/v1/seller/customers/list": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "description": "Lists the customers on your seller account, in ascending customer ID order.\n",
        "operationId": "customersList",
        "requestBody": {
          "$ref": "#/components/requestBodies/ListCustomers"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListCustomersSuccess"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "invalidLimitProvided": {
                    "value": "Request body: \"limit\": Number must be less than or equal to 100.",
                    "summary": "Invalid limit"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "invalidCursor"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "invalidCursor"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        }
      }
    },
    "/v1/seller/certificates/create": {
      "post": {
        "tags": [
          "Customer certificates"
        ],
        "summary": "Create customer certificate",
        "description": "This endpoint is used to create a new customer certificate in Anrok.",
        "operationId": "certificatesCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCertificate"
              },
              "example": {
                "customerId": "cus_123",
                "customerName": "Acme Inc",
                "effectiveDateBegin": "2022-01-01",
                "exemptionNumber": "cert-100",
                "certificateFile": {
                  "name": "cert.png",
                  "contentsBase64": "Y2VydC5wbmc="
                },
                "jurises": [
                  {
                    "jurisId": "us-MA"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Certificate ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "missingRequiredProperty": {
                    "value": "Request body: \"customerId\": Required.",
                    "summary": "Missing required property"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "duplicateJurisIds",
                        "customerIdNotFound",
                        "fileTypeNotSupported",
                        "jurisNotFound"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "duplicateJurisIds"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken=\"sxxx/saxxx/secret.xxx\"\ncertName=\"cert.png\"\ncertContentsBase64=$(base64 -i \"$certName\")\n\ncurl -X POST https://api.anrok.com/v1/seller/certificates/create \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d \"{\n    \\\"customerId\\\": \\\"customer-id-0\\\",\n    \\\"effectiveDateBegin\\\": \\\"2022-12-13\\\",\n    \\\"exemptionNumber\\\": \\\"cert-100\\\",\n    \\\"certificateFile\\\": {\n        \\\"name\\\": \\\"$certName\\\",\n        \\\"contentsBase64\\\": \\\"$certContentsBase64\\\"\n    },\n    \\\"jurises\\\": [{\n        \\\"jurisId\\\": \\\"us-MA\\\"\n    }]\n  }\""
          }
        ]
      }
    },
    "/v1/seller/certificates/id:{certificateId}/archive": {
      "post": {
        "tags": [
          "Customer certificates"
        ],
        "summary": "Archive customer certificate",
        "description": "This endpoint is used to archive/invalidate a customer certificate.",
        "operationId": "certificatesArchive",
        "requestBody": {
          "$ref": "#/components/requestBodies/Empty"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "certificateIdNotFound"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "certificateIdNotFound"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken=\"sxxx/saxxx/secret.xxx\"\ncertificateId=\"ctec6vx7gtrmxq\"\n\ncurl -X POST \"https://api.anrok.com/v1/seller/certificates/id:$certificateId/archive\" \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d \"{}\""
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/CertificateId"
        }
      ]
    },
    "/v1/seller/certificates/id:{certificateId}/get": {
      "post": {
        "tags": [
          "Customer certificates"
        ],
        "summary": "Get customer certificate",
        "description": "Retrieves a customer certificate by its Anrok-assigned ID.",
        "operationId": "certificatesGet",
        "requestBody": {
          "$ref": "#/components/requestBodies/Empty"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCertificateSuccess"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "certificateIdNotFound"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "certificateIdNotFound"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken=\"sxxx/saxxx/secret.xxx\"\ncertificateId=\"ctec6vx7gtrmxq\"\n\ncurl -X POST \"https://api.anrok.com/v1/seller/certificates/id:$certificateId/get\" \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d \"{}\"\n"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/CertificateId"
        }
      ]
    },
    "/v1/seller/certificates/list": {
      "post": {
        "tags": [
          "Customer certificates"
        ],
        "summary": "List customer certificates",
        "description": "Lists customer certificates in Anrok. Results can be filtered by customer ID or status, and are returned in pages using cursor-based pagination.\n",
        "operationId": "certificatesList",
        "requestBody": {
          "$ref": "#/components/requestBodies/ListCertificates"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListCertificatesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/ListCertificatesBadRequest"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "invalidCursor",
                        "customerIdNotFound"
                      ]
                    }
                  }
                },
                "examples": {
                  "invalidCursor": {
                    "value": {
                      "type": "invalidCursor"
                    },
                    "summary": "Invalid cursor"
                  },
                  "customerIdNotFound": {
                    "value": {
                      "type": "customerIdNotFound"
                    },
                    "summary": "Customer ID in filter does not exist"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken='sxxx/saxxx/secret.xxx'\n\ncurl -X POST https://api.anrok.com/v1/seller/certificates/list \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d '{\n    \"filter\": {\n        \"status\": \"active\"\n    },\n    \"limit\": 25\n  }'\n"
          }
        ]
      }
    },
    "/v1/seller/certificateRequests/create": {
      "post": {
        "tags": [
          "Customer certificates"
        ],
        "summary": "Create customer certificate request",
        "description": "Creates a customer certificate request and (by default) emails it to the customer contact. The recipient can upload their certificate via the returned `requestLink`.\n\nThis endpoint is a premium feature. Please contact hello@anrok.com to enable the exemption certificate portal on your seller account.\n",
        "operationId": "certificateRequestsCreate",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateCertificateRequest"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "description": "The Anrok-assigned ID of the certificate request.",
                      "type": "string",
                      "examples": [
                        "cre_3xT8sLpz4q"
                      ]
                    },
                    "requestLink": {
                      "description": "The URL the customer can use to upload their certificate.",
                      "type": "string",
                      "format": "uri",
                      "examples": [
                        "https://app.anrok.com/certificate-request/cre_3xT8sLpz4q"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "requestLink"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "missingRequiredProperty": {
                    "value": "Request body: \"customerId\": Required.",
                    "summary": "Missing required property"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "customerIdNotFound",
                        "featureNotEnabled",
                        "invalidEmailAddress"
                      ]
                    }
                  }
                },
                "examples": {
                  "customerIdNotFound": {
                    "value": {
                      "type": "customerIdNotFound"
                    },
                    "summary": "Customer ID does not exist"
                  },
                  "featureNotEnabled": {
                    "value": {
                      "type": "featureNotEnabled"
                    },
                    "summary": "Exemption certificate portal not enabled for this seller"
                  },
                  "invalidEmailAddress": {
                    "value": {
                      "type": "invalidEmailAddress"
                    },
                    "summary": "Email address is not valid"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken='sxxx/saxxx/secret.xxx'\n\ncurl -X POST https://api.anrok.com/v1/seller/certificateRequests/create \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d '{\n    \"customerId\": \"v1:1292\",\n    \"customerName\": \"Acme Inc\",\n    \"emailAddress\": \"contact@acme.com\"\n  }'\n"
          }
        ]
      }
    },
    "/v1/seller/transactions/createOrUpdate": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create or update transaction",
        "description": "Given the details of an invoice, calculate sales tax and save it as a transaction in Anrok. Saved transactions are used by Anrok to file sales tax returns and monitor sales thresholds.",
        "operationId": "transactionsCreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateTransaction"
              },
              "example": {
                "id": "stripe:in_1JSW342eZvKYlo2C",
                "currencyCode": "usd",
                "accountingTime": "2022-01-02T03:30:00Z",
                "accountingTimeZone": "UTC",
                "lineItems": [
                  {
                    "id": "item-1",
                    "productExternalId": "saas-product-1",
                    "amount": 15000,
                    "isTaxIncludedInAmount": false,
                    "quantity": "1"
                  },
                  {
                    "id": "item-2",
                    "productExternalId": "saas-product-2",
                    "amount": 31000,
                    "isTaxIncludedInAmount": true,
                    "quantity": "12.3"
                  },
                  {
                    "id": "item-3",
                    "productExternalId": "not-taxable-3",
                    "amount": 24000
                  }
                ],
                "customerAddress": {
                  "country": "us",
                  "line1": "1450 Cherokee St",
                  "city": "Denver",
                  "region": "CO",
                  "postalCode": "80204"
                },
                "shipFromAddress": {
                  "country": "us",
                  "line1": "230 S LaSalle St",
                  "city": "Chicago",
                  "region": "IL",
                  "postalCode": "60604"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateTransactionSuccess"
                },
                "example": {
                  "version": 1,
                  "taxAmountToCollect": 722,
                  "lineItems": [
                    {
                      "id": "item-1",
                      "taxAmountToCollect": 722,
                      "preTaxAmount": "15000",
                      "jurises": [
                        {
                          "name": "Colorado",
                          "taxes": null,
                          "notTaxedReason": {
                            "type": "productNotTaxed"
                          }
                        },
                        {
                          "name": "Denver (local)",
                          "taxes": [
                            {
                              "taxName": "Tax",
                              "taxableAmount": "15000",
                              "taxAmount": "721.5",
                              "taxRate": "0.0481"
                            }
                          ],
                          "notTaxedReason": null
                        }
                      ]
                    },
                    {
                      "id": "item-2",
                      "taxAmountToCollect": 0,
                      "preTaxAmount": "29577.3304",
                      "jurises": [
                        {
                          "name": "Colorado",
                          "taxes": null,
                          "notTaxedReason": {
                            "type": "productNotTaxed"
                          }
                        },
                        {
                          "name": "Denver (local)",
                          "taxes": [
                            {
                              "taxName": "Tax",
                              "taxableAmount": "29577.3304",
                              "taxAmount": "1422.6696",
                              "taxRate": "0.0481"
                            }
                          ],
                          "notTaxedReason": null
                        }
                      ]
                    },
                    {
                      "id": "item-3",
                      "taxAmountToCollect": 0,
                      "preTaxAmount": "24000",
                      "jurises": [
                        {
                          "name": "Colorado",
                          "taxes": null,
                          "notTaxedReason": {
                            "type": "productNotTaxed"
                          }
                        }
                      ]
                    }
                  ],
                  "preTaxAmount": "68577.3304",
                  "jurisSummaries": [
                    {
                      "name": "Colorado",
                      "notTaxedReasons": [
                        {
                          "type": "productNotTaxed"
                        }
                      ]
                    },
                    {
                      "name": "Denver (local)",
                      "notTaxedReasons": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CreateTransactionBadRequest"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CreateTransactionCannotComputeTaxAmount"
                    },
                    {
                      "$ref": "#/components/schemas/CreateTransactionCannotUpdate"
                    }
                  ]
                },
                "examples": {
                  "taxDateTooFarInFuture": {
                    "$ref": "#/components/examples/ConflictTaxDateTooFarInFuture"
                  },
                  "taxDateTooFarInPast": {
                    "$ref": "#/components/examples/ConflictTaxDateTooFarInPast"
                  },
                  "accoutingTimeZoneNotSetForSeller": {
                    "$ref": "#/components/examples/ConflictAccountingTimeZoneNotSetForSeller"
                  },
                  "productExternalIdUnknown": {
                    "$ref": "#/components/examples/ConflictProductExternalIdUnknown"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken='sxxx/saxxx/secret.xxx'\n\ncurl -X POST https://api.anrok.com/v1/seller/transactions/createOrUpdate \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d '{\n    \"id\": \"stripe:in_1JSW342eZvKYlo2C\",\n    \"currencyCode\": \"usd\",\n    \"accountingTime\": \"2022-01-02T03:30:00Z\",\n    \"accountingTimeZone\": \"UTC\",\n    \"lineItems\": [{\n      \"id\": \"item-1\",\n      \"productExternalId\": \"saas-product-1\",\n      \"amount\": 15000,\n      \"isTaxIncludedInAmount\": false,\n      \"quantity\": \"1\"\n    },\n    {\n      \"id\": \"item-2\",\n      \"productExternalId\": \"saas-product-2\",\n      \"amount\": 31000,\n      \"isTaxIncludedInAmount\": true,\n      \"quantity\": \"12.3\"\n    },\n    {\n      \"id\": \"item-3\",\n      \"productExternalId\": \"not-taxable-3\",\n      \"amount\": 24000\n    }],\n    \"customerAddress\": {\n      \"country\": \"us\",\n      \"line1\": \"1450 Cherokee St\",\n      \"city\": \"Denver\",\n      \"region\": \"CO\",\n      \"postalCode\": \"80204\"\n    },\n    \"shipFromAddress\": {\n      \"country\": \"us\",\n      \"line1\": \"230 S LaSalle St\",\n      \"city\": \"Chicago\",\n      \"region\": \"IL\",\n      \"postalCode\": \"60604\"\n    }\n  }'\n"
          }
        ]
      }
    },
    "/v1/seller/transactions/createEphemeral": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create ephemeral transaction",
        "description": "Given the details of an invoice, calculate sales tax without saving the transaction in Anrok. Ephemeral transactions are not used by Anrok to file sales tax returns or monitor sales thresholds.",
        "operationId": "transactionsCreateEphemeral",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEphemeralTransaction"
              },
              "example": {
                "currencyCode": "usd",
                "accountingTime": "2022-01-02T03:30:00Z",
                "accountingTimeZone": "UTC",
                "lineItems": [
                  {
                    "id": "item-1",
                    "productExternalId": "saas-product-1",
                    "amount": 15000,
                    "isTaxIncludedInAmount": false,
                    "quantity": "1"
                  },
                  {
                    "id": "item-2",
                    "productExternalId": "saas-product-2",
                    "amount": 31000,
                    "isTaxIncludedInAmount": true,
                    "quantity": "12.3"
                  },
                  {
                    "id": "item-3",
                    "productExternalId": "not-taxable-3",
                    "amount": 24000
                  }
                ],
                "customerAddress": {
                  "country": "us",
                  "line1": "1450 Cherokee St",
                  "city": "Denver",
                  "region": "CO",
                  "postalCode": "80204"
                },
                "shipFromAddress": {
                  "country": "us",
                  "line1": "230 S LaSalle St",
                  "city": "Chicago",
                  "region": "IL",
                  "postalCode": "60604"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEphemeralTransactionSuccess"
                },
                "example": {
                  "taxAmountToCollect": 722,
                  "lineItems": [
                    {
                      "id": "item-1",
                      "taxAmountToCollect": 722,
                      "preTaxAmount": "15000",
                      "jurises": [
                        {
                          "name": "Colorado",
                          "taxes": null,
                          "notTaxedReason": {
                            "type": "productNotTaxed"
                          }
                        },
                        {
                          "name": "Denver (local)",
                          "taxes": [
                            {
                              "taxName": "Tax",
                              "taxableAmount": "15000",
                              "taxAmount": "721.5",
                              "taxRate": "0.0481"
                            }
                          ],
                          "notTaxedReason": null
                        }
                      ]
                    },
                    {
                      "id": "item-2",
                      "taxAmountToCollect": 0,
                      "preTaxAmount": "29577.3304",
                      "jurises": [
                        {
                          "name": "Colorado",
                          "taxes": null,
                          "notTaxedReason": {
                            "type": "productNotTaxed"
                          }
                        },
                        {
                          "name": "Denver (local)",
                          "taxes": [
                            {
                              "taxName": "Tax",
                              "taxableAmount": "29577.3304",
                              "taxAmount": "1422.6696",
                              "taxRate": "0.0481"
                            }
                          ],
                          "notTaxedReason": null
                        }
                      ]
                    },
                    {
                      "id": "item-3",
                      "taxAmountToCollect": 0,
                      "preTaxAmount": "24000",
                      "jurises": [
                        {
                          "name": "Colorado",
                          "taxes": null,
                          "notTaxedReason": {
                            "type": "productNotTaxed"
                          }
                        }
                      ]
                    }
                  ],
                  "preTaxAmount": "68577.3304",
                  "jurisSummaries": [
                    {
                      "name": "Colorado",
                      "notTaxedReasons": [
                        {
                          "type": "productNotTaxed"
                        }
                      ]
                    },
                    {
                      "name": "Denver (local)",
                      "notTaxedReasons": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CreateTransactionBadRequest"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransactionCannotComputeTaxAmount"
                },
                "examples": {
                  "taxDateTooFarInFuture": {
                    "$ref": "#/components/examples/ConflictTaxDateTooFarInFuture"
                  },
                  "taxDateTooFarInPast": {
                    "$ref": "#/components/examples/ConflictTaxDateTooFarInPast"
                  },
                  "accoutingTimeZoneNotSetForSeller": {
                    "$ref": "#/components/examples/ConflictAccountingTimeZoneNotSetForSeller"
                  },
                  "productExternalIdUnknown": {
                    "$ref": "#/components/examples/ConflictProductExternalIdUnknown"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken='sxxx/saxxx/secret.xxx'\n\ncurl -X POST https://api.anrok.com/v1/seller/transactions/createEphemeral \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d '{\n    \"currencyCode\": \"usd\",\n    \"accountingTime\": \"2022-01-02T03:30:00Z\",\n    \"accountingTimeZone\": \"UTC\",\n    \"lineItems\": [{\n      \"id\": \"item-1\",\n      \"productExternalId\": \"saas-product-1\",\n      \"amount\": 15000,\n      \"isTaxIncludedInAmount\": false,\n      \"quantity\": \"1\"\n    },\n    {\n      \"id\": \"item-2\",\n      \"productExternalId\": \"saas-product-2\",\n      \"amount\": 31000,\n      \"isTaxIncludedInAmount\": true,\n      \"quantity\": \"12.3\"\n    },\n    {\n      \"id\": \"item-3\",\n      \"productExternalId\": \"not-taxable-3\",\n      \"amount\": 24000\n    }],\n    \"customerAddress\": {\n      \"country\": \"us\",\n      \"line1\": \"1450 Cherokee St\",\n      \"city\": \"Denver\",\n      \"region\": \"CO\",\n      \"postalCode\": \"80204\"\n    },\n    \"shipFromAddress\": {\n      \"country\": \"us\",\n      \"line1\": \"230 S LaSalle St\",\n      \"city\": \"Chicago\",\n      \"region\": \"IL\",\n      \"postalCode\": \"60604\"\n    }\n  }'\n"
          }
        ]
      }
    },
    "/v1/seller/transactions/createNegation": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create negation",
        "description": "Creates a new transaction that is the exact inverse of the given transaction. The sale prices and tax amounts will add up to zero.",
        "operationId": "transactionsCreateNegation",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateNegation"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/components/responses/CreateNegationBadRequest"
          },
          "409": {
            "$ref": "#/components/responses/CreateNegationConflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken='sxxx/saxxx/secret.xxx'\n\ncurl -X POST https://api.anrok.com/v1/seller/transactions/createRefund \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d '{\n    \"originalTransactionId\": \"stripe:in_1JSW342eZvKYlo2C\",\n    \"newTransactionId\": \"stripe:in_1JSW342eZvKYlo2C_refund\"\n  }'"
          }
        ]
      }
    },
    "/v1/seller/transactions/id:{transactionId}/void": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Void transaction",
        "description": "Mark a previously-created transaction as void. It will no longer be included in returns or sales totals.",
        "operationId": "transactionsVoid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transactionExpectedVersion": {
                    "description": "The expected transaction version. The void will fail if this is not the latest version of the transaction.",
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "examples": {
                "emptyExample": {
                  "value": {},
                  "summary": "Empty request body"
                },
                "expectVersion": {
                  "value": {
                    "transactionExpectedVersion": 1
                  },
                  "summary": "Expected transaction version"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "transactionIdNotFound",
                        "transactionExpectedVersionMismatch",
                        "transactionFrozenForFiling"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "transactionIdNotFound"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken='sxxx/saxxx/secret.xxx'\n\ncurl -X POST https://api.anrok.com/v1/seller/transactions/id:stripe:in_1JSW342eZvKYlo2C/void \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d '{}'"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/TransactionId"
        }
      ]
    },
    "/v1/seller/transactions/list": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "List transactions",
        "description": "Lists transactions in Anrok. These can be filtered by the time they were last modified or by the filing they are associated with.\nThis endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.\n",
        "operationId": "transactionsList",
        "requestBody": {
          "$ref": "#/components/requestBodies/ListTransactions"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListTransactionsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/ListTransactionsBadRequest"
          },
          "409": {
            "$ref": "#/components/responses/ListTransactionsConflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken='sxxx/saxxx/secret.xxx'\n\ncurl -X POST https://api.anrok.com/v1/seller/transactions/list \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d '{\n    \"filter\": {\n        \"type\": \"lastModifiedAfter\",\n        \"value\": \"2025-08-08T16:00:00.000Z\"\n    }\n  }'\n"
          }
        ]
      }
    },
    "/v1/seller/integrations/id:{integrationId}/productIdMapping/list": {
      "post": {
        "tags": [
          "Product mappings"
        ],
        "summary": "List product mappings",
        "description": "Lists all Product ID mappings for this integration.",
        "operationId": "productIdMappingsList",
        "requestBody": {
          "$ref": "#/components/requestBodies/Empty"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "example": [
                  {
                    "billing_system_id_1": "anrok_id_1"
                  },
                  {
                    "billing_system_id_2": "anrok_id_2"
                  }
                ]
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "integrationIdNotFound"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "integrationIdNotFound"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/IntegrationId"
        }
      ]
    },
    "/v1/seller/integrations/id:{integrationId}/productIdMapping/add": {
      "post": {
        "tags": [
          "Product mappings"
        ],
        "summary": "Add product mapping",
        "description": "Adds a product ID mapping for this integration.",
        "operationId": "productIdMappingsAdd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceId": {
                    "description": "Source product ID from billing system.",
                    "type": "string"
                  },
                  "targetId": {
                    "description": "Target product ID on Anrok. This product must already exist in Anrok.",
                    "type": "string"
                  },
                  "shouldOverwrite": {
                    "description": "Whether this request should override an existing `sourceId` mapping.",
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "sourceId",
                  "targetId"
                ]
              },
              "example": {
                "sourceId": "billing system ID",
                "targetId": "anrok ID"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "integrationIdNotFound",
                        "sourceIdAlreadyMapped",
                        "targetIdNotFound"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "targetIdNotFound"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/IntegrationId"
        }
      ]
    },
    "/v1/seller/taxId/validate": {
      "post": {
        "tags": [
          "Tax ID validation"
        ],
        "summary": "Validate tax IDs",
        "description": "This endpoint is used to assist in the collection and validation of customer tax IDs.",
        "operationId": "taxIdsValidate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateTaxId"
              },
              "example": {
                "customerAddress": {
                  "country": "CA",
                  "line1": "123 Main St",
                  "city": "Quebec City",
                  "region": "Quebec",
                  "postalCode": "G1P 2J6"
                },
                "customerTaxIds": [
                  {
                    "value": "123456789"
                  },
                  {
                    "value": "987654321"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateTaxIdSuccess"
                },
                "example": {
                  "jurises": [
                    {
                      "name": "Canada (federal)",
                      "taxIdNames": {
                        "name": "GST/HST account number",
                        "abbreviation": null
                      },
                      "validTaxIds": [
                        {
                          "value": "123456789"
                        }
                      ]
                    },
                    {
                      "name": "Quebec",
                      "taxIdNames": {
                        "name": "QST registration number",
                        "abbreviation": null
                      },
                      "validTaxIds": [
                        {
                          "value": "987654321"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "missingRequiredProperty": {
                    "value": "Request body: \"customerAddress\": Required.",
                    "summary": "Missing required property"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "customerAddressCouldNotResolve",
                        "externalServiceError",
                        "validationNotEnabled",
                        "validationNotSupportedForCountry"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "customerAddressCouldNotResolve"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken='sxxx/saxxx/secret.xxx'\n\ncurl -X POST https://api.anrok.com/v1/seller/taxId/validate \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d '{\n    \"customerAddress\": {\n      \"country\": \"CA\",\n      \"line1\": \"123 Main St\",\n      \"city\": \"Quebec City\",\n      \"region\": \"Quebec\",\n      \"postalCode\": \"G1P 2J6\"\n    },\n    \"customerTaxIds\": [{\n      \"value\": \"123456789\"\n    }]\n  }'"
          }
        ]
      }
    },
    "/v1/seller/address/resolve": {
      "post": {
        "tags": [
          "Address resolution"
        ],
        "summary": "Resolve an address",
        "description": "Resolve a customer address to its normalized form for sales tax calculation, and compute its taxable jurisdiction(s). The address fields are provided at the top level of the request body. This endpoint uses the same address resolution that tax calculation relies on, so a successful response means the address would process on an invoice. Resolving international addresses to street-level is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.",
        "operationId": "addressResolve",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAddress"
              },
              "examples": {
                "usAddress": {
                  "summary": "US address",
                  "value": {
                    "country": "US",
                    "line1": "100 Fake St",
                    "city": "San Francisco",
                    "region": "CA",
                    "postalCode": "94111"
                  }
                },
                "nonUsAddress": {
                  "summary": "Address outside the US and Canada",
                  "value": {
                    "country": "France",
                    "line1": "55 Rue du Faubourg Saint-Honoré",
                    "city": "Paris",
                    "postalCode": "75008"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveAddressSuccess"
                },
                "examples": {
                  "usAddress": {
                    "summary": "Full address returned for US/Canada",
                    "value": {
                      "resolvedAddress": {
                        "country": "United States",
                        "line1": "100 Fake St",
                        "city": "San Francisco",
                        "region": "CA",
                        "postalCode": "94111"
                      },
                      "jurisdictions": [
                        {
                          "id": "us-CA",
                          "name": "California"
                        }
                      ]
                    }
                  },
                  "nonUsAddress": {
                    "summary": "Country-only resolution outside the US and Canada",
                    "value": {
                      "resolvedAddress": {
                        "country": "France",
                        "line1": null,
                        "city": null,
                        "region": null,
                        "postalCode": null
                      },
                      "jurisdictions": [
                        {
                          "id": "eu-oss",
                          "name": "EU OSS"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "unrecognizedField": {
                    "value": "Request body: Unrecognized key(s) in object: 'line2'",
                    "summary": "An unrecognized property was provided"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "addressCouldNotResolve",
                        "jurisNotFound",
                        "externalServiceError"
                      ]
                    },
                    "message": {
                      "description": "A human-readable description, present for addressCouldNotResolve and jurisNotFound.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "examples": {
                  "addressCouldNotResolve": {
                    "summary": "The address could not be resolved to a taxable jurisdiction",
                    "value": {
                      "type": "addressCouldNotResolve"
                    }
                  },
                  "jurisNotFound": {
                    "summary": "The address resolved but no matching jurisdiction was found",
                    "value": {
                      "type": "jurisNotFound",
                      "message": "No jurisdiction found for the resolved address."
                    }
                  },
                  "externalServiceError": {
                    "summary": "An upstream address resolution service error occurred",
                    "value": {
                      "type": "externalServiceError"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken='sxxx/saxxx/secret.xxx'\n\ncurl -X POST https://api.anrok.com/v1/seller/address/resolve \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d '{\n    \"country\": \"US\",\n    \"line1\": \"100 Fake St\",\n    \"city\": \"San Francisco\",\n    \"region\": \"CA\",\n    \"postalCode\": \"94111\"\n  }'\n"
          }
        ]
      }
    },
    "/v1/seller/filings/list": {
      "post": {
        "tags": [
          "Filings"
        ],
        "summary": "List filings",
        "description": "Lists filings in Anrok. These can be filtered by the jurisdiction ID and the filing period end date.\nThis endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.\n",
        "operationId": "filingsList",
        "requestBody": {
          "$ref": "#/components/requestBodies/ListFilings"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListFilingsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/ListFilingsBadRequest"
          },
          "409": {
            "$ref": "#/components/responses/ListFilingsConflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken='sxxx/saxxx/secret.xxx'\n\ncurl -X POST https://api.anrok.com/v1/seller/filings/list \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d '{\n    \"filter\": {\n        \"jurisId\": \"us-MA\",\n        \"periodEndDateRangeInclusive\": \"2025-01..2025-03\"\n    }\n  }'\n"
          }
        ]
      }
    },
    "/v1/seller/filings/id:{jurisId}/id:{jurisFilingId}/listTransactionIds": {
      "post": {
        "tags": [
          "Filings"
        ],
        "summary": "List filing transaction IDs",
        "description": "Lists the IDs of the transactions included in a filing, ordered by the transaction's accounting date.\nThis endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.\n",
        "operationId": "filingsListTransactionIds",
        "requestBody": {
          "$ref": "#/components/requestBodies/ListFilingTransactionIds"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListFilingTransactionIdsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/ListFilingTransactionIdsBadRequest"
          },
          "409": {
            "$ref": "#/components/responses/ListFilingTransactionIdsConflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken=\"sxxx/saxxx/secret.xxx\"\njurisId=\"us-MA\"\njurisFilingId=\"2025-01\"\n\ncurl -X POST \"https://api.anrok.com/v1/seller/filings/id:$jurisId/id:$jurisFilingId/listTransactionIds\" \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d \"{}\"\n"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/JurisId"
        },
        {
          "$ref": "#/components/parameters/JurisFilingId"
        }
      ]
    },
    "/v1/seller/filings/id:{jurisId}/id:{jurisFilingId}/listTransactionsWithConversionRates": {
      "post": {
        "tags": [
          "Filings"
        ],
        "summary": "List filing transactions with conversion rates",
        "description": "Lists the transactions included in a filing, each with the conversion rate from the transaction currency to the filing currency.\nRates may change until the filing has been finalized, so it's recommended to only use this endpoint after finalization.\nThis endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.\n",
        "operationId": "filingsListTransactionsWithConversionRates",
        "requestBody": {
          "$ref": "#/components/requestBodies/ListFilingTransactionsWithConversionRates"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListFilingTransactionsWithConversionRatesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/ListFilingTransactionsWithConversionRatesBadRequest"
          },
          "409": {
            "$ref": "#/components/responses/ListFilingTransactionsWithConversionRatesConflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "apiToken=\"sxxx/saxxx/secret.xxx\"\njurisId=\"us-MA\"\njurisFilingId=\"2025-01\"\n\ncurl -X POST \"https://api.anrok.com/v1/seller/filings/id:$jurisId/id:$jurisFilingId/listTransactionsWithConversionRates\" \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $apiToken\" \\\n  -d \"{}\"\n"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/JurisId"
        },
        {
          "$ref": "#/components/parameters/JurisFilingId"
        }
      ]
    },
    "/v1/seller/filings/id:{jurisId}/id:{jurisFilingId}/removeTransactions": {
      "post": {
        "tags": [
          "Filings"
        ],
        "summary": "Remove transactions from a filing",
        "description": "Removes the given transactions from a filing, identified by its jurisdiction ID and filing ID.\n\nIdempotent: transaction IDs that aren't currently associated with this filing (already removed,\nunknown, or associated with a different filing) are reported with a `notFound` error rather than\nfailing the request, so retrying the same request is safe.\n\nA maximum of 100 transaction IDs may be removed per request. To remove more, make multiple requests.\n",
        "operationId": "filingsRemoveTransactions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transactionIds": {
                    "description": "IDs of the transactions to remove from the filing. Must contain between 1 and 100 IDs.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 100
                  }
                },
                "required": [
                  "transactionIds"
                ]
              },
              "example": {
                "transactionIds": [
                  "txn_K39sWBu92Lo",
                  "txn_L48tXCv03Mp"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "description": "One entry per requested transaction ID, in request order.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "The transaction ID.",
                            "type": "string"
                          },
                          "status": {
                            "description": "`removed` if the transaction was removed from the filing; `error` if it\ncould not be removed.\n",
                            "type": "string",
                            "enum": [
                              "removed",
                              "error"
                            ]
                          },
                          "reason": {
                            "description": "Present only when `status` is `error`. `notFound` means the transaction was\nnot in this filing (unknown, already removed, or in a different filing).\n",
                            "type": "string",
                            "enum": [
                              "notFound"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "transactions"
                  ]
                },
                "example": {
                  "transactions": [
                    {
                      "id": "txn_K39sWBu92Lo",
                      "status": "removed"
                    },
                    {
                      "id": "txn_L48tXCv03Mp",
                      "status": "error",
                      "reason": "notFound"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "emptyTransactionIds": {
                    "value": "Request body: \"transactionIds\": Array must contain at least 1 element(s).",
                    "summary": "Empty transactionIds list"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "invalidJurisId",
                        "filingNotFound",
                        "filingNotEditable",
                        "filingIsBeingDeleted",
                        "filingHasBackgroundOperation"
                      ]
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "example": {
                  "type": "filingNotEditable"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/JurisId"
        },
        {
          "$ref": "#/components/parameters/JurisFilingId"
        }
      ]
    },
    "/v1/seller/products/create": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create product",
        "description": "Creates a new product in Anrok, given a unique external ID and a product tax category (PTC) which determines the product's taxability in each jurisdiction.",
        "operationId": "productsCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProduct"
              },
              "example": {
                "externalId": "sku-1001",
                "taxCategoryId": {
                  "type": "standard",
                  "id": "saasBusiness"
                },
                "name": "Pro plan",
                "description": "Monthly subscription to the Pro plan."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "missingRequiredProperty": {
                    "value": "Request body: \"externalId\": Required.",
                    "summary": "Missing required property"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "externalIdAlreadyExists",
                        "externalIdInvalid",
                        "taxCategoryIdNotFound"
                      ]
                    },
                    "message": {
                      "description": "When `type` is `externalIdInvalid`, a human-readable message describing why the external ID is invalid.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "example": {
                  "type": "externalIdAlreadyExists"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        }
      }
    },
    "/v1/seller/products/externalId:{externalId}/get": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Get product",
        "description": "Looks up a product in Anrok by its external ID. Returns the product's external ID, tax category, name, and description.",
        "operationId": "productsGet",
        "requestBody": {
          "$ref": "#/components/requestBodies/Empty"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "externalId": {
                      "description": "The product's external ID.",
                      "type": "string",
                      "examples": [
                        "sku-1001"
                      ]
                    },
                    "taxCategoryId": {
                      "description": "The identifier for the product's product tax category (PTC).",
                      "$ref": "#/components/schemas/ProductTaxCategoryId"
                    },
                    "name": {
                      "description": "The product's display name.",
                      "type": "string",
                      "examples": [
                        "Pro plan"
                      ]
                    },
                    "description": {
                      "description": "The product's description. Empty string if no description has been set.",
                      "type": "string",
                      "examples": [
                        "Monthly subscription to the Pro plan."
                      ]
                    }
                  },
                  "required": [
                    "externalId",
                    "taxCategoryId",
                    "name",
                    "description"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "productExternalIdNotFound"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "productExternalIdNotFound"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProductExternalId"
        }
      ]
    },
    "/v1/seller/products/list": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "List products",
        "description": "Lists the products on your seller account, in descending order of creation time.\n",
        "operationId": "productsList",
        "requestBody": {
          "$ref": "#/components/requestBodies/ListProducts"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListProductsSuccess"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "invalidLimitProvided": {
                    "value": "Request body: \"limit\": Number must be less than or equal to 1000.",
                    "summary": "Invalid limit"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "invalidCursor"
                      ]
                    }
                  }
                },
                "example": {
                  "type": "invalidCursor"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        }
      }
    },
    "/v1/seller/productTaxCategories/list": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "List product tax categories",
        "description": "Lists all product tax categories (PTCs) that are available on the seller account. This includes the standard PTCs that Anrok has enabled for the seller as well as any custom PTCs that have been created on the seller account. The returned IDs may be used as the `taxCategoryId` when creating a product.",
        "operationId": "productTaxCategoriesList",
        "requestBody": {
          "$ref": "#/components/requestBodies/Empty"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "productTaxCategories": {
                      "description": "The list of all available product tax categories.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "$ref": "#/components/schemas/ProductTaxCategoryId"
                          },
                          "name": {
                            "description": "The display name of the product tax category.",
                            "type": "string",
                            "examples": [
                              "SaaS - General, B2B"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ]
                      }
                    }
                  },
                  "required": [
                    "productTaxCategories"
                  ]
                },
                "example": {
                  "productTaxCategories": [
                    {
                      "id": {
                        "type": "standard",
                        "id": "saasBusiness"
                      },
                      "name": "SaaS - General, B2B"
                    },
                    {
                      "id": {
                        "type": "custom",
                        "id": "sptc95hf85bdcd"
                      },
                      "name": "Custom Professional Services"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "http": {
        "type": "http",
        "description": "The Anrok API uses API keys to authenticate requests. You can view and manage your API keys in [Anrok](https://app.anrok.com/-/api-keys). Use an Authorization header in the format `Bearer {apiKey}` to authenticate Anrok API requests.\n",
        "scheme": "Bearer"
      }
    },
    "schemas": {
      "CustomerName": {
        "description": "The name of the customer. This is used for display purposes only.",
        "type": "string",
        "examples": [
          "Acme Inc"
        ]
      },
      "CreateCustomer": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Your unique identifier for this customer. \nThis must exactly match the customer ID that your billing system or integration  will send on transactions, so that the customer's transactions and exemption certificates link up. For Anrok-native billing integrations, customer IDs are prefixed with the integration type (for example `stripe:cus_K39sWBu92Lo`).  Customer IDs are unique across the entire seller account.\n",
            "type": "string",
            "examples": [
              "cus_K39sWBu92Lo"
            ]
          },
          "name": {
            "$ref": "#/components/schemas/CustomerName"
          },
          "emailAddress": {
            "description": "Optional email address of the customer.",
            "type": [
              "string",
              "null"
            ],
            "format": "email",
            "examples": [
              "john.doe@example.com"
            ]
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Your unique identifier for this customer.",
            "type": "string",
            "examples": [
              "cus_K39sWBu92Lo"
            ]
          },
          "name": {
            "$ref": "#/components/schemas/CustomerName"
          },
          "emailAddress": {
            "description": "The email address of the customer, if one has been provided.",
            "type": [
              "string",
              "null"
            ],
            "format": "email",
            "examples": [
              "john.doe@example.com"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "emailAddress"
        ]
      },
      "CustomerId": {
        "description": "The Anrok customer ID used to link transactions for the same customer and to look up tax exemption certificates for a customer. This is typically the billing system's customer ID with a prefix to disambiguate.\n- If customerId is provided without customerName, that customer object must\n  already exist in Anrok.\n- If both customerId and customerName are provided, the customer object will\n  be created if it is not already present.\n- Customer IDs are unique across the entire seller account.\n",
        "type": "string",
        "examples": [
          "v1:1292",
          "stripe:cus_K39sWBu92Lo"
        ]
      },
      "CustomerCertificateFile": {
        "type": "object",
        "properties": {
          "name": {
            "description": "File name",
            "type": "string",
            "examples": [
              "cert.png"
            ]
          },
          "contentsBase64": {
            "description": "Base64 encoded certificate image contents",
            "type": "string",
            "examples": [
              "Y2VydC5wbmc="
            ]
          }
        },
        "required": [
          "name",
          "contentsBase64"
        ]
      },
      "CustomerCertificateJuris": {
        "type": "object",
        "properties": {
          "jurisId": {
            "description": "Jurisdiction ID for which this exemption should apply (US only).",
            "type": "string",
            "enum": [
              "us-AK",
              "us-AL",
              "us-AR",
              "us-AS",
              "us-AZ",
              "us-CA",
              "us-CO",
              "us-CT",
              "us-DC",
              "us-DE",
              "us-FL",
              "us-GA",
              "us-GU",
              "us-HI",
              "us-IA",
              "us-ID",
              "us-IL",
              "us-IN",
              "us-KS",
              "us-KY",
              "us-LA",
              "us-MA",
              "us-MD",
              "us-ME",
              "us-MI",
              "us-MN",
              "us-MO",
              "us-MP",
              "us-MS",
              "us-MT",
              "us-NC",
              "us-ND",
              "us-NE",
              "us-NH",
              "us-NJ",
              "us-NM",
              "us-NV",
              "us-NY",
              "us-OH",
              "us-OK",
              "us-OR",
              "us-PA",
              "us-PR",
              "us-RI",
              "us-SC",
              "us-SD",
              "us-TN",
              "us-TX",
              "us-UT",
              "us-VA",
              "us-VI",
              "us-VT",
              "us-WA",
              "us-WI",
              "us-WV",
              "us-WY"
            ],
            "examples": [
              "us-MA"
            ]
          },
          "registrationId": {
            "description": "Registration ID for jurisdiction. This is used for display purposes only.",
            "type": "string",
            "examples": [
              "reg-1234"
            ]
          },
          "effectiveDateEndi": {
            "description": "Expiration date of certificate in this jurisdiction",
            "type": "string",
            "format": "date",
            "examples": [
              "2023-01-01"
            ]
          },
          "notes": {
            "description": "Optional internal notes. This is used for display purposes only.",
            "type": "string",
            "examples": [
              "Optional internal notes"
            ]
          }
        },
        "required": [
          "jurisId"
        ]
      },
      "CustomerCertificate": {
        "type": "object",
        "properties": {
          "customerId": {
            "$ref": "#/components/schemas/CustomerId"
          },
          "customerName": {
            "$ref": "#/components/schemas/CustomerName"
          },
          "effectiveDateBegin": {
            "description": "Effective date of certificate",
            "type": "string",
            "format": "date",
            "examples": [
              "2022-01-01"
            ]
          },
          "exemptionNumber": {
            "description": "Certificate exemption number. This is used for display purposes only.",
            "type": "string",
            "examples": [
              "cert-105"
            ]
          },
          "notes": {
            "description": "Optional internal notes.",
            "type": "string",
            "examples": [
              "customer notes"
            ]
          },
          "type": {
            "description": "The type of exemption the certificate represents. If omitted or null, no type is recorded.\n\n- `agricultural`: agricultural use.\n- `directPay`: direct pay permit.\n- `educational`: educational institution.\n- `energy`: energy-related exemption.\n- `governmentFederal`: federal government entity.\n- `governmentOther`: other government entity.\n- `governmentState`: state government entity.\n- `healthcare`: healthcare organization.\n- `manufacturing`: used in manufacturing.\n- `nativeAmericanTribal`: Native American tribal entity.\n- `nonprofit`: nonprofit organization.\n- `other`: other exemption type.\n- `religious`: religious organization.\n- `resale`: purchased for resale.\n- `researchDevelopment`: research and development use.\n",
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "agricultural",
              "directPay",
              "educational",
              "energy",
              "governmentFederal",
              "governmentOther",
              "governmentState",
              "healthcare",
              "manufacturing",
              "nativeAmericanTribal",
              "nonprofit",
              "other",
              "religious",
              "resale",
              "researchDevelopment",
              null
            ],
            "examples": [
              "resale"
            ]
          },
          "certificateFile": {
            "$ref": "#/components/schemas/CustomerCertificateFile"
          },
          "jurises": {
            "description": "Jurisdictions for which certificate applies",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerCertificateJuris"
            }
          }
        },
        "required": [
          "customerId",
          "effectiveDateBegin",
          "certificateFile",
          "jurises"
        ]
      },
      "CustomerCertificateJurisResponse": {
        "type": "object",
        "properties": {
          "jurisId": {
            "description": "Jurisdiction ID for which this exemption applies.",
            "type": "string",
            "examples": [
              "us-MA"
            ]
          },
          "registrationId": {
            "description": "Registration ID for the jurisdiction. This is used for display purposes only.",
            "type": "string",
            "examples": [
              "reg-1234"
            ]
          },
          "effectiveDateEndi": {
            "description": "Expiration date of the certificate in this jurisdiction. Null if the certificate has no expiration date in this jurisdiction.",
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "examples": [
              "2023-01-01"
            ]
          },
          "notes": {
            "description": "Optional internal notes. This is used for display purposes only.",
            "type": "string",
            "examples": [
              "Optional internal notes"
            ]
          }
        },
        "required": [
          "jurisId",
          "registrationId",
          "effectiveDateEndi",
          "notes"
        ]
      },
      "CustomerCertificateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The Anrok-assigned ID of the certificate.",
            "type": "string",
            "examples": [
              "ctec6vx7gtrmxq"
            ]
          },
          "status": {
            "description": "The current status of the certificate.\n\n- `active`: the certificate is valid.\n- `expiringSoon`: the certificate is valid but expires within 60 days in at least one jurisdiction.\n- `expired`: the certificate has expired in every jurisdiction it covers.\n- `archived`: the certificate has been archived.\n",
            "type": "string",
            "enum": [
              "active",
              "expiringSoon",
              "expired",
              "archived"
            ],
            "examples": [
              "active"
            ]
          },
          "customerId": {
            "description": "The Anrok customer ID of the customer the certificate belongs to.",
            "type": "string",
            "examples": [
              "v1:1292",
              "stripe:cus_K39sWBu92Lo"
            ]
          },
          "customerName": {
            "description": "The name of the customer.",
            "type": "string",
            "examples": [
              "Acme Inc"
            ]
          },
          "createdTime": {
            "description": "The time at which the certificate was created in Anrok.",
            "type": "string",
            "format": "date-time",
            "examples": [
              "2025-01-15T18:23:45.000Z"
            ]
          },
          "effectiveDateBegin": {
            "description": "Effective date of the certificate.",
            "type": "string",
            "format": "date",
            "examples": [
              "2022-01-01"
            ]
          },
          "expiryDate": {
            "description": "The earliest expiration date across all jurisdictions covered by the certificate. Null if no jurisdiction has an expiration date set.",
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "examples": [
              "2023-01-01"
            ]
          },
          "exemptionNumber": {
            "description": "Certificate exemption number.",
            "type": "string",
            "examples": [
              "cert-105"
            ]
          },
          "notes": {
            "description": "Optional internal notes.",
            "type": "string",
            "examples": [
              "customer notes"
            ]
          },
          "type": {
            "description": "The type of exemption the certificate represents. Null if no type has been recorded.\n\n- `agricultural`: agricultural use.\n- `directPay`: direct pay permit.\n- `educational`: educational institution.\n- `energy`: energy-related exemption.\n- `governmentFederal`: federal government entity.\n- `governmentOther`: other government entity.\n- `governmentState`: state government entity.\n- `healthcare`: healthcare organization.\n- `manufacturing`: used in manufacturing.\n- `nativeAmericanTribal`: Native American tribal entity.\n- `nonprofit`: nonprofit organization.\n- `other`: other exemption type.\n- `religious`: religious organization.\n- `resale`: purchased for resale.\n- `researchDevelopment`: research and development use.\n",
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "agricultural",
              "directPay",
              "educational",
              "energy",
              "governmentFederal",
              "governmentOther",
              "governmentState",
              "healthcare",
              "manufacturing",
              "nativeAmericanTribal",
              "nonprofit",
              "other",
              "religious",
              "resale",
              "researchDevelopment",
              null
            ],
            "examples": [
              "resale"
            ]
          },
          "jurises": {
            "description": "The jurisdictions to which the certificate applies.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerCertificateJurisResponse"
            }
          }
        },
        "required": [
          "id",
          "status",
          "customerId",
          "customerName",
          "createdTime",
          "effectiveDateBegin",
          "expiryDate",
          "exemptionNumber",
          "notes",
          "type",
          "jurises"
        ]
      },
      "TransactionLineItem": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Optional identifier for the line item. This is saved by Anrok and returned in the response, but not used for anything by Anrok.",
            "type": "string"
          },
          "productExternalId": {
            "description": "A product ID that has already been defined in the Anrok UI (under \"Product IDs\"). This is used to determine whether the line item is taxable.",
            "type": "string"
          },
          "amount": {
            "description": "The sale price in the smallest denomination of the currency (e.g. cents or pennies).",
            "type": "integer",
            "minimum": -100000000000,
            "maximum": 100000000000
          },
          "isTaxIncludedInAmount": {
            "description": "Whether the line item already includes tax in the amount.",
            "type": "boolean"
          },
          "quantity": {
            "description": "The quantity of the line item, as a string (e.g. `3` or `0.5`).",
            "type": "string"
          }
        },
        "required": [
          "productExternalId",
          "amount"
        ]
      },
      "CustomerAddress": {
        "type": "object",
        "title": "Address",
        "properties": {
          "country": {
            "description": "The country's full name or 2-letter ISO code",
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "UK",
              "United Kingdom"
            ]
          },
          "line1": {
            "description": "The \"delivery line\" of the address",
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "description": "City or town name",
            "type": [
              "string",
              "null"
[...]
