openapi: 3.1.0
info:
  contact:
    email: support@anrok.com
  description: |
    # API reference

    The Anrok API server is accessible at `https://api.anrok.com`.

    All requests are HTTP POSTs with JSON in the body.

    Authentication is via an HTTP header `Authorization: Bearer {apiKey}`.

    The default rate limit for a seller account is 10 API requests per second.
  license:
    name: All rights reserved
    url: https://www.anrok.com
  termsOfService: https://www.anrok.com/privacy-terms
  title: Anrok API
  version: "1.1"
  x-logo:
    url: https://global-uploads.webflow.com/632add85afcd1ac30aa74675/6357842d130e1f3e0e23d1fe_anrok_logo.svg
externalDocs:
  description: API Tutorials
  url: https://apidocs.anrok.com/tutorials
servers:
- url: https://api.anrok.com
security:
- http: []
tags:
- description: |
    The Anrok Customers API endpoints allow you to register customers on your seller
    account before their first transaction, and to retrieve the customers on your account. Normally a customer is created automatically when its
    first transaction is ingested; creating it ahead of time makes the customer searchable by name
    in Anrok - for example, when uploading a tax exemption certificate before the customer's first
    billing - without needing to push a placeholder transaction.
  name: Customers
- description: |
    A sales tax exemption certificate documents the exemption claimed by a purchaser
    to legally make a tax-free purchase.
    Certificates can be uploaded to Anrok via the Anrok UI as well as via the API.
    See our
    <a href="https://help-center.anrok.com/hc/en-us/articles/24861687025299-Upload-an-exemption-certificate">Help Center article</a>
    for more information.
  name: Customer certificates
- description: |
    This documentation describes how to use Anrok's Transactions API to synchronize transactions between Anrok and your billing system, as well as calculate sales tax for new invoices. Use of this API is generally recommended for sellers with custom billing systems or workflows that prevent you from using one of our pre-built platform integrations. Sellers utilizing Stripe Subscriptions or Checkout may also use this API to calculate and add tax on initial invoices, while continuing to use Anrok's Stripe integration to manage tax for subsequent billing cycles.

    # Invoice lifecycle
    1. When an invoice is created: the billing system should call the `createEphemeral` endpoint to calculate the sales tax amount.
    1. When an invoice is updated: same as above.
    1. When an invoice is finalized and ready to send to the customer: the billing system should call the `createOrUpdate` endpoint so that the transaction is recorded in Anrok.
    1. When an invoice is paid: Anrok does not need to be notified. Sellers are required to remit sales tax to a state upon invoice, not receipt of payment.

    While the above covers a standard invoice lifecycle, the Transactions API also includes endpoints for exceptional states like voiding and negating invoices, which are described below.
  name: Transactions
- description: |
    The Anrok Products API endpoints allow you to manage the products on your seller
    account. Each product is identified by an external ID and is assigned a product tax category
    (PTC) which determines the product's taxability in each jurisdiction.
    PTCs may be one of Anrok's standard PTCs or a custom PTC that has been created on your seller account.
  name: Products
- description: |
    The Anrok Product Mappings API endpoint allows you to dynamically map product IDs
    for [Anrok-built billing system integrations](https://help-center.anrok.com/hc/en-us/articles/41966628275219-Anrok-integration-types#:~:text=Anrok%20API%20integration-,Anrok%2Dbuilt%20integrations,-These%20integrations%20are).
    Note that this API endpoint is only used alongside an existing Anrok-built integration
    and is not used for standalone product mappings. When using an Anrok-built billing
    system integration, you can use this API endpoint to create many-to-1 mappings to
    associate various products in your billing system with equivalent products that have
    already been created in Anrok.
  name: Product mappings
- description: "**The Anrok Tax ID Validation endpoint is a premium feature. Please\
    \ contact hello@anrok.com for more information to enable this on your Anrok seller\
    \ account.**\n\n\n1. Pass a customer address and an empty array of customerTaxIds:\n\
    \t- Anrok verifies the customer address is valid for tax calculation.\n\t- Anrok\
    \ responds with the list of customer tax IDs to collect.\n1. Collect the customer\
    \ tax IDs and call the API endpoint again to validate them:\n\t- Anrok provides\
    \ a list of valid tax IDs for each applicable jurisdiction.\n"
  name: Tax ID validation
- description: |-
    The Anrok Address Resolution endpoint resolves a customer address to its normalized form, suitable for sales tax calculations, as well as taxable
    jurisdiction(s). It uses the same address resolution that tax calculation relies on, so a
    successful response means the address would process on an invoice.

    For addresses in the United States and Canada, Anrok returns the full resolved address. For all other countries, only the country is returned.

    **Resolving international addresses to street-level is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.**
  name: Address resolution
- description: |
    **The Filings endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.**

    This endpoint can be used to fetch filings from Anrok.
  name: Filings
paths:
  /v1/seller/customers/create:
    post:
      description: |
        Creates a new customer in Anrok, given a unique external Customer ID.
      operationId: customersCreate
      requestBody:
        content:
          application/json:
            example:
              id: cus_K39sWBu92Lo
              name: Acme Inc
              emailAddress: billing@acme.com
            schema:
              $ref: '#/components/schemas/CreateCustomer'
        required: true
      responses:
        "200":
          $ref: '#/components/responses/EmptyResponse'
        "400":
          content:
            text/plain:
              examples:
                missingRequiredProperty:
                  summary: Missing required property
                  value: "Request body: \"id\": Required."
              schema:
                type: string
          description: Bad Request
        "409":
          content:
            application/json:
              examples:
                idAlreadyInUse:
                  summary: A customer with this ID already exists
                  value:
                    type: idAlreadyInUse
                invalidEmailAddress:
                  summary: Email address is not valid
                  value:
                    type: invalidEmailAddress
              schema:
                $ref: '#/components/schemas/customersCreate_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Create customer
      tags:
      - Customers
  /v1/seller/customers/id:{customerId}/get:
    parameters:
    - $ref: '#/components/parameters/CustomerId'
    post:
      description: Retrieves a customer by its ID.
      operationId: customersGet
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      requestBody:
        $ref: '#/components/requestBodies/Empty'
      responses:
        "200":
          content:
            application/json:
              example:
                id: cus_K39sWBu92Lo
                name: Acme Inc
                emailAddress: billing@acme.com
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: OK
        "409":
          content:
            application/json:
              example:
                type: customerIdNotFound
              schema:
                $ref: '#/components/schemas/customersGet_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Get customer
      tags:
      - Customers
  /v1/seller/customers/list:
    post:
      description: |
        Lists the customers on your seller account, in ascending customer ID order.
      operationId: customersList
      requestBody:
        $ref: '#/components/requestBodies/ListCustomers'
      responses:
        "200":
          $ref: '#/components/responses/ListCustomersSuccess'
        "400":
          content:
            text/plain:
              examples:
                invalidLimitProvided:
                  summary: Invalid limit
                  value: "Request body: \"limit\": Number must be less than or equal\
                    \ to 100."
              schema:
                type: string
          description: Bad Request
        "409":
          content:
            application/json:
              example:
                type: invalidCursor
              schema:
                $ref: '#/components/schemas/customersList_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: List customers
      tags:
      - Customers
  /v1/seller/certificates/create:
    post:
      description: This endpoint is used to create a new customer certificate in Anrok.
      operationId: certificatesCreate
      requestBody:
        content:
          application/json:
            example:
              customerId: cus_123
              customerName: Acme Inc
              effectiveDateBegin: 2022-01-01
              exemptionNumber: cert-100
              certificateFile:
                name: cert.png
                contentsBase64: Y2VydC5wbmc=
              jurises:
              - jurisId: us-MA
            schema:
              $ref: '#/components/schemas/CustomerCertificate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/certificatesCreate_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                missingRequiredProperty:
                  summary: Missing required property
                  value: "Request body: \"customerId\": Required."
              schema:
                type: string
          description: Bad Request
        "409":
          content:
            application/json:
              example:
                type: duplicateJurisIds
              schema:
                $ref: '#/components/schemas/certificatesCreate_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Create customer certificate
      tags:
      - Customer certificates
      x-codeSamples:
      - lang: cURL
        source: |-
          apiToken="sxxx/saxxx/secret.xxx"
          certName="cert.png"
          certContentsBase64=$(base64 -i "$certName")

          curl -X POST https://api.anrok.com/v1/seller/certificates/create \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d "{
              \"customerId\": \"customer-id-0\",
              \"effectiveDateBegin\": \"2022-12-13\",
              \"exemptionNumber\": \"cert-100\",
              \"certificateFile\": {
                  \"name\": \"$certName\",
                  \"contentsBase64\": \"$certContentsBase64\"
              },
              \"jurises\": [{
                  \"jurisId\": \"us-MA\"
              }]
            }"
  /v1/seller/certificates/id:{certificateId}/archive:
    parameters:
    - $ref: '#/components/parameters/CertificateId'
    post:
      description: This endpoint is used to archive/invalidate a customer certificate.
      operationId: certificatesArchive
      parameters:
      - $ref: '#/components/parameters/CertificateId'
      requestBody:
        $ref: '#/components/requestBodies/Empty'
      responses:
        "200":
          $ref: '#/components/responses/EmptyResponse'
        "409":
          content:
            application/json:
              example:
                type: certificateIdNotFound
              schema:
                $ref: '#/components/schemas/certificatesArchive_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Archive customer certificate
      tags:
      - Customer certificates
      x-codeSamples:
      - lang: cURL
        source: |-
          apiToken="sxxx/saxxx/secret.xxx"
          certificateId="ctec6vx7gtrmxq"

          curl -X POST "https://api.anrok.com/v1/seller/certificates/id:$certificateId/archive" \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d "{}"
  /v1/seller/certificates/id:{certificateId}/get:
    parameters:
    - $ref: '#/components/parameters/CertificateId'
    post:
      description: Retrieves a customer certificate by its Anrok-assigned ID.
      operationId: certificatesGet
      parameters:
      - $ref: '#/components/parameters/CertificateId'
      requestBody:
        $ref: '#/components/requestBodies/Empty'
      responses:
        "200":
          $ref: '#/components/responses/GetCertificateSuccess'
        "409":
          content:
            application/json:
              example:
                type: certificateIdNotFound
              schema:
                $ref: '#/components/schemas/certificatesArchive_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Get customer certificate
      tags:
      - Customer certificates
      x-codeSamples:
      - lang: cURL
        source: |
          apiToken="sxxx/saxxx/secret.xxx"
          certificateId="ctec6vx7gtrmxq"

          curl -X POST "https://api.anrok.com/v1/seller/certificates/id:$certificateId/get" \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d "{}"
  /v1/seller/certificates/list:
    post:
      description: |
        Lists customer certificates in Anrok. Results can be filtered by customer ID or status, and are returned in pages using cursor-based pagination.
      operationId: certificatesList
      requestBody:
        $ref: '#/components/requestBodies/ListCertificates'
      responses:
        "200":
          $ref: '#/components/responses/ListCertificatesSuccess'
        "400":
          $ref: '#/components/responses/ListCertificatesBadRequest'
        "409":
          content:
            application/json:
              examples:
                invalidCursor:
                  summary: Invalid cursor
                  value:
                    type: invalidCursor
                customerIdNotFound:
                  summary: Customer ID in filter does not exist
                  value:
                    type: customerIdNotFound
              schema:
                $ref: '#/components/schemas/certificatesList_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: List customer certificates
      tags:
      - Customer certificates
      x-codeSamples:
      - lang: cURL
        source: |
          apiToken='sxxx/saxxx/secret.xxx'

          curl -X POST https://api.anrok.com/v1/seller/certificates/list \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d '{
              "filter": {
                  "status": "active"
              },
              "limit": 25
            }'
  /v1/seller/certificateRequests/create:
    post:
      description: |
        Creates a customer certificate request and (by default) emails it to the customer contact. The recipient can upload their certificate via the returned `requestLink`.

        This endpoint is a premium feature. Please contact hello@anrok.com to enable the exemption certificate portal on your seller account.
      operationId: certificateRequestsCreate
      requestBody:
        $ref: '#/components/requestBodies/CreateCertificateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/certificateRequestsCreate_200_response'
          description: OK
        "400":
          content:
            text/plain:
              examples:
                missingRequiredProperty:
                  summary: Missing required property
                  value: "Request body: \"customerId\": Required."
              schema:
                type: string
          description: Bad Request
        "409":
          content:
            application/json:
              examples:
                customerIdNotFound:
                  summary: Customer ID does not exist
                  value:
                    type: customerIdNotFound
                featureNotEnabled:
                  summary: Exemption certificate portal not enabled for this seller
                  value:
                    type: featureNotEnabled
                invalidEmailAddress:
                  summary: Email address is not valid
                  value:
                    type: invalidEmailAddress
              schema:
                $ref: '#/components/schemas/certificateRequestsCreate_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Create customer certificate request
      tags:
      - Customer certificates
      x-codeSamples:
      - lang: cURL
        source: |
          apiToken='sxxx/saxxx/secret.xxx'

          curl -X POST https://api.anrok.com/v1/seller/certificateRequests/create \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d '{
              "customerId": "v1:1292",
              "customerName": "Acme Inc",
              "emailAddress": "contact@acme.com"
            }'
  /v1/seller/transactions/createOrUpdate:
    post:
      description: "Given the details of an invoice, calculate sales tax and save\
        \ it as a transaction in Anrok. Saved transactions are used by Anrok to file\
        \ sales tax returns and monitor sales thresholds."
      operationId: transactionsCreateOrUpdate
      requestBody:
        content:
          application/json:
            example:
              id: stripe:in_1JSW342eZvKYlo2C
              currencyCode: usd
              accountingTime: 2022-01-02T03:30:00Z
              accountingTimeZone: UTC
              lineItems:
              - id: item-1
                productExternalId: saas-product-1
                amount: 15000
                isTaxIncludedInAmount: false
                quantity: "1"
              - id: item-2
                productExternalId: saas-product-2
                amount: 31000
                isTaxIncludedInAmount: true
                quantity: "12.3"
              - id: item-3
                productExternalId: not-taxable-3
                amount: 24000
              customerAddress:
                country: us
                line1: 1450 Cherokee St
                city: Denver
                region: CO
                postalCode: "80204"
              shipFromAddress:
                country: us
                line1: 230 S LaSalle St
                city: Chicago
                region: IL
                postalCode: "60604"
            schema:
              $ref: '#/components/schemas/CreateOrUpdateTransaction'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                version: 1
                taxAmountToCollect: 722
                lineItems:
                - id: item-1
                  taxAmountToCollect: 722
                  preTaxAmount: "15000"
                  jurises:
                  - name: Colorado
                    taxes: null
                    notTaxedReason:
                      type: productNotTaxed
                  - name: Denver (local)
                    taxes:
                    - taxName: Tax
                      taxableAmount: "15000"
                      taxAmount: "721.5"
                      taxRate: "0.0481"
                    notTaxedReason: null
                - id: item-2
                  taxAmountToCollect: 0
                  preTaxAmount: "29577.3304"
                  jurises:
                  - name: Colorado
                    taxes: null
                    notTaxedReason:
                      type: productNotTaxed
                  - name: Denver (local)
                    taxes:
                    - taxName: Tax
                      taxableAmount: "29577.3304"
                      taxAmount: "1422.6696"
                      taxRate: "0.0481"
                    notTaxedReason: null
                - id: item-3
                  taxAmountToCollect: 0
                  preTaxAmount: "24000"
                  jurises:
                  - name: Colorado
                    taxes: null
                    notTaxedReason:
                      type: productNotTaxed
                preTaxAmount: "68577.3304"
                jurisSummaries:
                - name: Colorado
                  notTaxedReasons:
                  - type: productNotTaxed
                - name: Denver (local)
                  notTaxedReasons: null
              schema:
                $ref: '#/components/schemas/CreateOrUpdateTransactionSuccess'
          description: OK
        "400":
          $ref: '#/components/responses/CreateTransactionBadRequest'
        "409":
          content:
            application/json:
              examples:
                taxDateTooFarInFuture:
                  $ref: '#/components/examples/ConflictTaxDateTooFarInFuture'
                taxDateTooFarInPast:
                  $ref: '#/components/examples/ConflictTaxDateTooFarInPast'
                accoutingTimeZoneNotSetForSeller:
                  $ref: '#/components/examples/ConflictAccountingTimeZoneNotSetForSeller'
                productExternalIdUnknown:
                  $ref: '#/components/examples/ConflictProductExternalIdUnknown'
              schema:
                $ref: '#/components/schemas/transactionsCreateOrUpdate_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Create or update transaction
      tags:
      - Transactions
      x-codeSamples:
      - lang: cURL
        source: |
          apiToken='sxxx/saxxx/secret.xxx'

          curl -X POST https://api.anrok.com/v1/seller/transactions/createOrUpdate \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d '{
              "id": "stripe:in_1JSW342eZvKYlo2C",
              "currencyCode": "usd",
              "accountingTime": "2022-01-02T03:30:00Z",
              "accountingTimeZone": "UTC",
              "lineItems": [{
                "id": "item-1",
                "productExternalId": "saas-product-1",
                "amount": 15000,
                "isTaxIncludedInAmount": false,
                "quantity": "1"
              },
              {
                "id": "item-2",
                "productExternalId": "saas-product-2",
                "amount": 31000,
                "isTaxIncludedInAmount": true,
                "quantity": "12.3"
              },
              {
                "id": "item-3",
                "productExternalId": "not-taxable-3",
                "amount": 24000
              }],
              "customerAddress": {
                "country": "us",
                "line1": "1450 Cherokee St",
                "city": "Denver",
                "region": "CO",
                "postalCode": "80204"
              },
              "shipFromAddress": {
                "country": "us",
                "line1": "230 S LaSalle St",
                "city": "Chicago",
                "region": "IL",
                "postalCode": "60604"
              }
            }'
  /v1/seller/transactions/createEphemeral:
    post:
      description: "Given the details of an invoice, calculate sales tax without saving\
        \ the transaction in Anrok. Ephemeral transactions are not used by Anrok to\
        \ file sales tax returns or monitor sales thresholds."
      operationId: transactionsCreateEphemeral
      requestBody:
        content:
          application/json:
            example:
              currencyCode: usd
              accountingTime: 2022-01-02T03:30:00Z
              accountingTimeZone: UTC
              lineItems:
              - id: item-1
                productExternalId: saas-product-1
                amount: 15000
                isTaxIncludedInAmount: false
                quantity: "1"
              - id: item-2
                productExternalId: saas-product-2
                amount: 31000
                isTaxIncludedInAmount: true
                quantity: "12.3"
              - id: item-3
                productExternalId: not-taxable-3
                amount: 24000
              customerAddress:
                country: us
                line1: 1450 Cherokee St
                city: Denver
                region: CO
                postalCode: "80204"
              shipFromAddress:
                country: us
                line1: 230 S LaSalle St
                city: Chicago
                region: IL
                postalCode: "60604"
            schema:
              $ref: '#/components/schemas/CreateEphemeralTransaction'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                taxAmountToCollect: 722
                lineItems:
                - id: item-1
                  taxAmountToCollect: 722
                  preTaxAmount: "15000"
                  jurises:
                  - name: Colorado
                    taxes: null
                    notTaxedReason:
                      type: productNotTaxed
                  - name: Denver (local)
                    taxes:
                    - taxName: Tax
                      taxableAmount: "15000"
                      taxAmount: "721.5"
                      taxRate: "0.0481"
                    notTaxedReason: null
                - id: item-2
                  taxAmountToCollect: 0
                  preTaxAmount: "29577.3304"
                  jurises:
                  - name: Colorado
                    taxes: null
                    notTaxedReason:
                      type: productNotTaxed
                  - name: Denver (local)
                    taxes:
                    - taxName: Tax
                      taxableAmount: "29577.3304"
                      taxAmount: "1422.6696"
                      taxRate: "0.0481"
                    notTaxedReason: null
                - id: item-3
                  taxAmountToCollect: 0
                  preTaxAmount: "24000"
                  jurises:
                  - name: Colorado
                    taxes: null
                    notTaxedReason:
                      type: productNotTaxed
                preTaxAmount: "68577.3304"
                jurisSummaries:
                - name: Colorado
                  notTaxedReasons:
                  - type: productNotTaxed
                - name: Denver (local)
                  notTaxedReasons: null
              schema:
                $ref: '#/components/schemas/CreateEphemeralTransactionSuccess'
          description: OK
        "400":
          $ref: '#/components/responses/CreateTransactionBadRequest'
        "409":
          content:
            application/json:
              examples:
                taxDateTooFarInFuture:
                  $ref: '#/components/examples/ConflictTaxDateTooFarInFuture'
                taxDateTooFarInPast:
                  $ref: '#/components/examples/ConflictTaxDateTooFarInPast'
                accoutingTimeZoneNotSetForSeller:
                  $ref: '#/components/examples/ConflictAccountingTimeZoneNotSetForSeller'
                productExternalIdUnknown:
                  $ref: '#/components/examples/ConflictProductExternalIdUnknown'
              schema:
                $ref: '#/components/schemas/CreateTransactionCannotComputeTaxAmount'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Create ephemeral transaction
      tags:
      - Transactions
      x-codeSamples:
      - lang: cURL
        source: |
          apiToken='sxxx/saxxx/secret.xxx'

          curl -X POST https://api.anrok.com/v1/seller/transactions/createEphemeral \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d '{
              "currencyCode": "usd",
              "accountingTime": "2022-01-02T03:30:00Z",
              "accountingTimeZone": "UTC",
              "lineItems": [{
                "id": "item-1",
                "productExternalId": "saas-product-1",
                "amount": 15000,
                "isTaxIncludedInAmount": false,
                "quantity": "1"
              },
              {
                "id": "item-2",
                "productExternalId": "saas-product-2",
                "amount": 31000,
                "isTaxIncludedInAmount": true,
                "quantity": "12.3"
              },
              {
                "id": "item-3",
                "productExternalId": "not-taxable-3",
                "amount": 24000
              }],
              "customerAddress": {
                "country": "us",
                "line1": "1450 Cherokee St",
                "city": "Denver",
                "region": "CO",
                "postalCode": "80204"
              },
              "shipFromAddress": {
                "country": "us",
                "line1": "230 S LaSalle St",
                "city": "Chicago",
                "region": "IL",
                "postalCode": "60604"
              }
            }'
  /v1/seller/transactions/createNegation:
    post:
      description: Creates a new transaction that is the exact inverse of the given
        transaction. The sale prices and tax amounts will add up to zero.
      operationId: transactionsCreateNegation
      requestBody:
        $ref: '#/components/requestBodies/CreateNegation'
      responses:
        "200":
          $ref: '#/components/responses/EmptyResponse'
        "400":
          $ref: '#/components/responses/CreateNegationBadRequest'
        "409":
          $ref: '#/components/responses/CreateNegationConflict'
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Create negation
      tags:
      - Transactions
      x-codeSamples:
      - lang: cURL
        source: |-
          apiToken='sxxx/saxxx/secret.xxx'

          curl -X POST https://api.anrok.com/v1/seller/transactions/createRefund \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d '{
              "originalTransactionId": "stripe:in_1JSW342eZvKYlo2C",
              "newTransactionId": "stripe:in_1JSW342eZvKYlo2C_refund"
            }'
  /v1/seller/transactions/id:{transactionId}/void:
    parameters:
    - $ref: '#/components/parameters/TransactionId'
    post:
      description: Mark a previously-created transaction as void. It will no longer
        be included in returns or sales totals.
      operationId: transactionsVoid
      parameters:
      - $ref: '#/components/parameters/TransactionId'
      requestBody:
        content:
          application/json:
            examples:
              emptyExample:
                summary: Empty request body
                value: {}
              expectVersion:
                summary: Expected transaction version
                value:
                  transactionExpectedVersion: 1
            schema:
              $ref: '#/components/schemas/transactionsVoid_request'
        required: true
      responses:
        "200":
          $ref: '#/components/responses/EmptyResponse'
        "409":
          content:
            application/json:
              example:
                type: transactionIdNotFound
              schema:
                $ref: '#/components/schemas/transactionsVoid_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Void transaction
      tags:
      - Transactions
      x-codeSamples:
      - lang: cURL
        source: |-
          apiToken='sxxx/saxxx/secret.xxx'

          curl -X POST https://api.anrok.com/v1/seller/transactions/id:stripe:in_1JSW342eZvKYlo2C/void \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d '{}'
  /v1/seller/transactions/list:
    post:
      description: |
        Lists transactions in Anrok. These can be filtered by the time they were last modified or by the filing they are associated with.
        This endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.
      operationId: transactionsList
      requestBody:
        $ref: '#/components/requestBodies/ListTransactions'
      responses:
        "200":
          $ref: '#/components/responses/ListTransactionsSuccess'
        "400":
          $ref: '#/components/responses/ListTransactionsBadRequest'
        "409":
          $ref: '#/components/responses/ListTransactionsConflict'
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: List transactions
      tags:
      - Transactions
      x-codeSamples:
      - lang: cURL
        source: |
          apiToken='sxxx/saxxx/secret.xxx'

          curl -X POST https://api.anrok.com/v1/seller/transactions/list \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d '{
              "filter": {
                  "type": "lastModifiedAfter",
                  "value": "2025-08-08T16:00:00.000Z"
              }
            }'
  /v1/seller/integrations/id:{integrationId}/productIdMapping/list:
    parameters:
    - $ref: '#/components/parameters/IntegrationId'
    post:
      description: Lists all Product ID mappings for this integration.
      operationId: productIdMappingsList
      parameters:
      - $ref: '#/components/parameters/IntegrationId'
      requestBody:
        $ref: '#/components/requestBodies/Empty'
      responses:
        "200":
          content:
            application/json:
              example:
              - billing_system_id_1: anrok_id_1
              - billing_system_id_2: anrok_id_2
              schema:
                items:
                  additionalProperties:
                    type: string
                type: array
          description: OK
        "409":
          content:
            application/json:
              example:
                type: integrationIdNotFound
              schema:
                $ref: '#/components/schemas/productIdMappingsList_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: List product mappings
      tags:
      - Product mappings
  /v1/seller/integrations/id:{integrationId}/productIdMapping/add:
    parameters:
    - $ref: '#/components/parameters/IntegrationId'
    post:
      description: Adds a product ID mapping for this integration.
      operationId: productIdMappingsAdd
      parameters:
      - $ref: '#/components/parameters/IntegrationId'
      requestBody:
        content:
          application/json:
            example:
              sourceId: billing system ID
              targetId: anrok ID
            schema:
              $ref: '#/components/schemas/productIdMappingsAdd_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: OK
        "409":
          content:
            application/json:
              example:
                type: targetIdNotFound
              schema:
                $ref: '#/components/schemas/productIdMappingsAdd_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Add product mapping
      tags:
      - Product mappings
  /v1/seller/taxId/validate:
    post:
      description: This endpoint is used to assist in the collection and validation
        of customer tax IDs.
      operationId: taxIdsValidate
      requestBody:
        content:
          application/json:
            example:
              customerAddress:
                country: CA
                line1: 123 Main St
                city: Quebec City
                region: Quebec
                postalCode: G1P 2J6
              customerTaxIds:
              - value: "123456789"
              - value: "987654321"
            schema:
              $ref: '#/components/schemas/ValidateTaxId'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                jurises:
                - name: Canada (federal)
                  taxIdNames:
                    name: GST/HST account number
                    abbreviation: null
                  validTaxIds:
                  - value: "123456789"
                - name: Quebec
                  taxIdNames:
                    name: QST registration number
                    abbreviation: null
                  validTaxIds:
                  - value: "987654321"
              schema:
                $ref: '#/components/schemas/ValidateTaxIdSuccess'
          description: OK
        "400":
          content:
            application/json:
              examples:
                missingRequiredProperty:
                  summary: Missing required property
                  value: "Request body: \"customerAddress\": Required."
              schema:
                type: string
          description: Bad Request
        "409":
          content:
            application/json:
              example:
                type: customerAddressCouldNotResolve
              schema:
                $ref: '#/components/schemas/taxIdsValidate_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Validate tax IDs
      tags:
      - Tax ID validation
      x-codeSamples:
      - lang: cURL
        source: |-
          apiToken='sxxx/saxxx/secret.xxx'

          curl -X POST https://api.anrok.com/v1/seller/taxId/validate \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d '{
              "customerAddress": {
                "country": "CA",
                "line1": "123 Main St",
                "city": "Quebec City",
                "region": "Quebec",
                "postalCode": "G1P 2J6"
              },
              "customerTaxIds": [{
                "value": "123456789"
              }]
            }'
  /v1/seller/address/resolve:
    post:
      description: "Resolve a customer address to its normalized form for sales tax\
        \ calculation, and compute its taxable jurisdiction(s). The address fields\
        \ are provided at the top level of the request body. This endpoint uses the\
        \ same address resolution that tax calculation relies on, so a successful\
        \ response means the address would process on an invoice. Resolving international\
        \ addresses to street-level is a premium feature. Please contact hello@anrok.com\
        \ for more information to enable this on your seller account."
      operationId: addressResolve
      requestBody:
        content:
          application/json:
            examples:
              usAddress:
                summary: US address
                value:
                  country: US
                  line1: 100 Fake St
                  city: San Francisco
                  region: CA
                  postalCode: "94111"
              nonUsAddress:
                summary: Address outside the US and Canada
                value:
                  country: France
                  line1: 55 Rue du Faubourg Saint-Honoré
                  city: Paris
                  postalCode: "75008"
            schema:
              $ref: '#/components/schemas/CustomerAddress'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                usAddress:
                  summary: Full address returned for US/Canada
                  value:
                    resolvedAddress:
                      country: United States
                      line1: 100 Fake St
                      city: San Francisco
                      region: CA
                      postalCode: "94111"
                    jurisdictions:
                    - id: us-CA
                      name: California
                nonUsAddress:
                  summary: Country-only resolution outside the US and Canada
                  value:
                    resolvedAddress:
                      country: France
                      line1: null
                      city: null
                      region: null
                      postalCode: null
                    jurisdictions:
                    - id: eu-oss
                      name: EU OSS
              schema:
                $ref: '#/components/schemas/ResolveAddressSuccess'
          description: OK
        "400":
          content:
            application/json:
              examples:
                unrecognizedField:
                  summary: An unrecognized property was provided
                  value: "Request body: Unrecognized key(s) in object: 'line2'"
              schema:
                type: string
          description: Bad Request
        "409":
          content:
            application/json:
              examples:
                addressCouldNotResolve:
                  summary: The address could not be resolved to a taxable jurisdiction
                  value:
                    type: addressCouldNotResolve
                jurisNotFound:
                  summary: The address resolved but no matching jurisdiction was found
                  value:
                    type: jurisNotFound
                    message: No jurisdiction found for the resolved address.
                externalServiceError:
                  summary: An upstream address resolution service error occurred
                  value:
                    type: externalServiceError
              schema:
                $ref: '#/components/schemas/addressResolve_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Resolve an address
      tags:
      - Address resolution
      x-codeSamples:
      - lang: cURL
        source: |
          apiToken='sxxx/saxxx/secret.xxx'

          curl -X POST https://api.anrok.com/v1/seller/address/resolve \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d '{
              "country": "US",
              "line1": "100 Fake St",
              "city": "San Francisco",
              "region": "CA",
              "postalCode": "94111"
            }'
  /v1/seller/filings/list:
    post:
      description: |
        Lists filings in Anrok. These can be filtered by the jurisdiction ID and the filing period end date.
        This endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.
      operationId: filingsList
      requestBody:
        $ref: '#/components/requestBodies/ListFilings'
      responses:
        "200":
          $ref: '#/components/responses/ListFilingsSuccess'
        "400":
          $ref: '#/components/responses/ListFilingsBadRequest'
        "409":
          $ref: '#/components/responses/ListFilingsConflict'
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: List filings
      tags:
      - Filings
      x-codeSamples:
      - lang: cURL
        source: |
          apiToken='sxxx/saxxx/secret.xxx'

          curl -X POST https://api.anrok.com/v1/seller/filings/list \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d '{
              "filter": {
                  "jurisId": "us-MA",
                  "periodEndDateRangeInclusive": "2025-01..2025-03"
              }
            }'
  /v1/seller/filings/id:{jurisId}/id:{jurisFilingId}/listTransactionIds:
    parameters:
    - $ref: '#/components/parameters/JurisId'
    - $ref: '#/components/parameters/JurisFilingId'
    post:
      description: |
        Lists the IDs of the transactions included in a filing, ordered by the transaction's accounting date.
        This endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.
      operationId: filingsListTransactionIds
      parameters:
      - $ref: '#/components/parameters/JurisId'
      - $ref: '#/components/parameters/JurisFilingId'
      requestBody:
        $ref: '#/components/requestBodies/ListFilingTransactionIds'
      responses:
        "200":
          $ref: '#/components/responses/ListFilingTransactionIdsSuccess'
        "400":
          $ref: '#/components/responses/ListFilingTransactionIdsBadRequest'
        "409":
          $ref: '#/components/responses/ListFilingTransactionIdsConflict'
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: List filing transaction IDs
      tags:
      - Filings
      x-codeSamples:
      - lang: cURL
        source: |
          apiToken="sxxx/saxxx/secret.xxx"
          jurisId="us-MA"
          jurisFilingId="2025-01"

          curl -X POST "https://api.anrok.com/v1/seller/filings/id:$jurisId/id:$jurisFilingId/listTransactionIds" \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d "{}"
  /v1/seller/filings/id:{jurisId}/id:{jurisFilingId}/listTransactionsWithConversionRates:
    parameters:
    - $ref: '#/components/parameters/JurisId'
    - $ref: '#/components/parameters/JurisFilingId'
    post:
      description: |
        Lists the transactions included in a filing, each with the conversion rate from the transaction currency to the filing currency.
        Rates may change until the filing has been finalized, so it's recommended to only use this endpoint after finalization.
        This endpoint is a premium feature. Please contact hello@anrok.com for more information to enable this on your seller account.
      operationId: filingsListTransactionsWithConversionRates
      parameters:
      - $ref: '#/components/parameters/JurisId'
      - $ref: '#/components/parameters/JurisFilingId'
      requestBody:
        $ref: '#/components/requestBodies/ListFilingTransactionsWithConversionRates'
      responses:
        "200":
          $ref: '#/components/responses/ListFilingTransactionsWithConversionRatesSuccess'
        "400":
          $ref: '#/components/responses/ListFilingTransactionsWithConversionRatesBadRequest'
        "409":
          $ref: '#/components/responses/ListFilingTransactionsWithConversionRatesConflict'
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: List filing transactions with conversion rates
      tags:
      - Filings
      x-codeSamples:
      - lang: cURL
        source: |
          apiToken="sxxx/saxxx/secret.xxx"
          jurisId="us-MA"
          jurisFilingId="2025-01"

          curl -X POST "https://api.anrok.com/v1/seller/filings/id:$jurisId/id:$jurisFilingId/listTransactionsWithConversionRates" \
            -H 'Content-Type: application/json' \
            -H "Authorization: Bearer $apiToken" \
            -d "{}"
  /v1/seller/filings/id:{jurisId}/id:{jurisFilingId}/removeTransactions:
    parameters:
    - $ref: '#/components/parameters/JurisId'
    - $ref: '#/components/parameters/JurisFilingId'
    post:
      description: |
        Removes the given transactions from a filing, identified by its jurisdiction ID and filing ID.

        Idempotent: transaction IDs that aren't currently associated with this filing (already removed,
        unknown, or associated with a different filing) are reported with a `notFound` error rather than
        failing the request, so retrying the same request is safe.

        A maximum of 100 transaction IDs may be removed per request. To remove more, make multiple requests.
      operationId: filingsRemoveTransactions
      parameters:
      - $ref: '#/components/parameters/JurisId'
      - $ref: '#/components/parameters/JurisFilingId'
      requestBody:
        content:
          application/json:
            example:
              transactionIds:
              - txn_K39sWBu92Lo
              - txn_L48tXCv03Mp
            schema:
              $ref: '#/components/schemas/filingsRemoveTransactions_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                transactions:
                - id: txn_K39sWBu92Lo
                  status: removed
                - id: txn_L48tXCv03Mp
                  status: error
                  reason: notFound
              schema:
                $ref: '#/components/schemas/filingsRemoveTransactions_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                emptyTransactionIds:
                  summary: Empty transactionIds list
                  value: "Request body: \"transactionIds\": Array must contain at\
                    \ least 1 element(s)."
              schema:
                type: string
          description: Bad Request
        "409":
          content:
            application/json:
              example:
                type: filingNotEditable
              schema:
                $ref: '#/components/schemas/filingsRemoveTransactions_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Remove transactions from a filing
      tags:
      - Filings
  /v1/seller/products/create:
    post:
      description: "Creates a new product in Anrok, given a unique external ID and\
        \ a product tax category (PTC) which determines the product's taxability in\
        \ each jurisdiction."
      operationId: productsCreate
      requestBody:
        content:
          application/json:
            example:
              externalId: sku-1001
              taxCategoryId:
                type: standard
                id: saasBusiness
              name: Pro plan
              description: Monthly subscription to the Pro plan.
            schema:
              $ref: '#/components/schemas/CreateProduct'
        required: true
      responses:
        "200":
          $ref: '#/components/responses/EmptyResponse'
        "400":
          content:
            application/json:
              examples:
                missingRequiredProperty:
                  summary: Missing required property
                  value: "Request body: \"externalId\": Required."
              schema:
                type: string
          description: Bad Request
        "409":
          content:
            application/json:
              example:
                type: externalIdAlreadyExists
              schema:
                $ref: '#/components/schemas/productsCreate_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Create product
      tags:
      - Products
  /v1/seller/products/externalId:{externalId}/get:
    parameters:
    - $ref: '#/components/parameters/ProductExternalId'
    post:
      description: "Looks up a product in Anrok by its external ID. Returns the product's\
        \ external ID, tax category, name, and description."
      operationId: productsGet
      parameters:
      - $ref: '#/components/parameters/ProductExternalId'
      requestBody:
        $ref: '#/components/requestBodies/Empty'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productsGet_200_response'
          description: OK
        "409":
          content:
            application/json:
              example:
                type: productExternalIdNotFound
              schema:
                $ref: '#/components/schemas/productsGet_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: Get product
      tags:
      - Products
  /v1/seller/products/list:
    post:
      description: |
        Lists the products on your seller account, in descending order of creation time.
      operationId: productsList
      requestBody:
        $ref: '#/components/requestBodies/ListProducts'
      responses:
        "200":
          $ref: '#/components/responses/ListProductsSuccess'
        "400":
          content:
            text/plain:
              examples:
                invalidLimitProvided:
                  summary: Invalid limit
                  value: "Request body: \"limit\": Number must be less than or equal\
                    \ to 1000."
              schema:
                type: string
          description: Bad Request
        "409":
          content:
            application/json:
              example:
                type: invalidCursor
              schema:
                $ref: '#/components/schemas/customersList_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: List products
      tags:
      - Products
  /v1/seller/productTaxCategories/list:
    post:
      description: Lists all product tax categories (PTCs) that are available on the
        seller account. This includes the standard PTCs that Anrok has enabled for
        the seller as well as any custom PTCs that have been created on the seller
        account. The returned IDs may be used as the `taxCategoryId` when creating
        a product.
      operationId: productTaxCategoriesList
      requestBody:
        $ref: '#/components/requestBodies/Empty'
      responses:
        "200":
          content:
            application/json:
              example:
                productTaxCategories:
                - id:
                    type: standard
                    id: saasBusiness
                  name: "SaaS - General, B2B"
                - id:
                    type: custom
                    id: sptc95hf85bdcd
                  name: Custom Professional Services
              schema:
                $ref: '#/components/schemas/productTaxCategoriesList_200_response'
          description: OK
        "429":
          $ref: '#/components/responses/RateLimit'
      summary: List product tax categories
      tags:
      - Products
components:
  examples:
    ConflictTaxDateTooFarInFuture:
      summary: Anrok accepts dates up to 31 days in the future.
      value:
        type: taxDateTooFarInFuture
    ConflictTaxDateTooFarInPast:
      summary: "Anrok only accepts dates on or after Jan 1, 1999."
      value:
        type: taxDateTooFarInPast
    ConflictAccountingTimeZoneNotSetForSeller:
      summary: Cannot determine accounting date from accountingTime without time zone
      value:
        type: accountingTimeZoneNotSetForSeller
    ConflictProductExternalIdUnknown:
      summary: Product IDs must have already been configured in Anrok
      value:
        type: productExternalIdUnknown
        productExternalId: my-new-product-id
  parameters:
    CustomerId:
      description: |
        The customer ID. URL-encode the ID if it contains special characters such as `:` or `/`.
      explode: false
      in: path
      name: customerId
      required: true
      schema:
        type: string
      style: simple
    CertificateId:
      description: ID of the certificate.
      explode: false
      in: path
      name: certificateId
      required: true
      schema:
        type: string
      style: simple
    TransactionId:
      description: ID of the transaction you want to void.
      explode: false
      in: path
      name: transactionId
      required: true
      schema:
        type: string
      style: simple
    IntegrationId:
      description: Your unique integration ID.
      explode: false
      in: path
      name: integrationId
      required: true
      schema:
        type: string
      style: simple
    JurisId:
      description: The ID of the jurisdiction of the filing.
      explode: false
      in: path
      name: jurisId
      required: true
      schema:
        type: string
      style: simple
    JurisFilingId:
      description: The ID of the filing. This is a unique identifier for the filing
        within the jurisdiction.
      explode: false
      in: path
      name: jurisFilingId
      required: true
      schema:
        type: string
      style: simple
    ProductExternalId:
      description: The external ID of the product.
      explode: false
      in: path
      name: externalId
      required: true
      schema:
        type: string
      style: simple
  requestBodies:
    Empty:
      content:
        application/json:
          examples:
            emptyExample:
              summary: Empty request body
              value: {}
          schema:
            type: object
      required: true
    ListCustomers:
      content:
        application/json:
          examples:
            firstPage:
              summary: List customers from the beginning
              value: {}
            cursor:
              summary: Cursor-based pagination
              value:
                cursor: eyJleGFtcGxlIjoidGhpcyBpcyBhbiBleGFtcGxlIGN1cnNvciJ9
                limit: 5
          schema:
            $ref: '#/components/schemas/customersList_request'
      required: true
    ListCertificates:
      content:
        application/json:
          examples:
            noFilter:
              summary: List all certificates
              value: {}
            customerIdFilter:
              summary: Filter certificates by customer ID
              value:
                filter:
                  customerId: v1:1292
            statusFilter:
              summary: Filter certificates by status
              value:
                filter:
                  status: expiringSoon
            cursor:
              summary: Cursor-based pagination
              value:
                cursor: eyJleGFtcGxlIjoidGhpcyBpcyBhbiBleGFtcGxlIGN1cnNvciJ9
                limit: 5
          schema:
            $ref: '#/components/schemas/certificatesList_request'
      required: true
    CreateCertificateRequest:
      content:
        application/json:
          example:
            customerId: v1:1292
            customerName: Acme Inc
            emailAddress: contact@acme.com
          schema:
            $ref: '#/components/schemas/certificateRequestsCreate_request'
      required: true
    CreateNegation:
      content:
        application/json:
          example:
            originalTransactionId: stripe:in_1JSW342eZvKYlo2C
            newTransactionId: stripe:in_1JSW342eZvKYlo2C_refund
          schema:
            $ref: '#/components/schemas/transactionsCreateNegation_request'
      required: true
    ListTransactions:
      content:
        application/json:
          examples:
            lastModifiedAfter:
              summary: Filter transactions by last modified after
              value:
                type: lastModifiedAfter
                value: 2025-01-01T00:00:00Z
            filingInfo:
              summary: Filter transactions by filing info
              value:
                type: filingInfo
                value:
                  filingAssociationStatus: associated
                  jurisId: us-MA
                  jurisFilingId: 2025-01
            cursor:
              summary: Cursor-based pagination
              value:
                cursor: eyJleGFtcGxlIjoidGhpcyBpcyBhbiBleGFtcGxlIGN1cnNvciJ9
                limit: 5
          schema:
            $ref: '#/components/schemas/transactionsList_request'
      required: true
    ListFilings:
      content:
        application/json:
          examples:
            jurisIdFilter:
              summary: Filter filings by juris
              value:
                jurisId: us-MA
            periodEndDateRangeInclusiveFilter:
              summary: Filter filings by filing period end date range
              value:
                periodEndDateRangeInclusive: 2025-01..2025-03
            jurisIdAndPeriodEndDateRangeInclusiveFilter:
              summary: Filter filings by jurisdiction ID and filing period end date
                range
              value:
                jurisId: us-MA
                periodEndDateRangeInclusive: 2025-01..2025-03
            cursor:
              summary: Cursor-based pagination
              value:
                cursor: eyJleGFtcGxlIjoidGhpcyBpcyBhbiBleGFtcGxlIGN1cnNvciJ9
                limit: 5
          schema:
            $ref: '#/components/schemas/filingsList_request'
      required: true
    ListFilingTransactionIds:
      content:
        application/json:
          examples:
            firstPage:
              summary: Fetch the first page of transaction IDs
              value: {}
            cursor:
              summary: Cursor-based pagination
              value:
                cursor: eyJleGFtcGxlIjoidGhpcyBpcyBhbiBleGFtcGxlIGN1cnNvciJ9
                limit: 500
          schema:
            $ref: '#/components/schemas/filingsListTransactionIds_request'
      required: true
    ListFilingTransactionsWithConversionRates:
      content:
        application/json:
          examples:
            firstPage:
              summary: Fetch the first page of transactions with conversion rates
              value: {}
            cursor:
              summary: Cursor-based pagination
              value:
                cursor: eyJleGFtcGxlIjoidGhpcyBpcyBhbiBleGFtcGxlIGN1cnNvciJ9
                limit: 250
          schema:
            $ref: '#/components/schemas/filingsListTransactionsWithConversionRates_request'
      required: true
    ListProducts:
      content:
        application/json:
          examples:
            firstPage:
              summary: List products from the beginning
              value: {}
            cursor:
              summary: Cursor-based pagination
              value:
                cursor: eyJleGFtcGxlIjoidGhpcyBpcyBhbiBleGFtcGxlIGN1cnNvciJ9
                limit: 5
            includeDefaultProducts:
              summary: Include default products from integrations
              value:
                includeDefaultProducts: true
          schema:
            $ref: '#/components/schemas/productsList_request'
      required: true
  responses:
    EmptyResponse:
      content:
        application/json:
          example: {}
          schema:
            type: object
      description: OK
    RateLimit:
      content:
        text/plain:
          example: You've exceeded your API limit of 10 per second
          schema:
            type: string
      description: Too Many Requests
      headers:
        Retry-After:
          description: Number of seconds to wait for rate limit to reset.
          explode: false
          schema:
            type: integer
          style: simple
    ListCustomersSuccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      description: OK
    GetCertificateSuccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerCertificateResponse'
      description: OK
    ListCertificatesSuccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      description: OK
    ListCertificatesBadRequest:
      content:
        text/plain:
          examples:
            invalidStatusProvided:
              summary: Invalid status filter value
              value: "Request body: \"filter\": \"status\": Invalid enum value."
            invalidLimitProvided:
              summary: Invalid limit
              value: "Request body: \"limit\": Number must be less than or equal to\
                \ 100."
            cursorAndFilterBothProvided:
              summary: Cursor and filter cannot both be provided
              value: "Request body: cursor and filter cannot both be provided."
          schema:
            type: string
      description: Bad Request
    CreateTransactionBadRequest:
      content:
        application/json:
          examples:
            missingRequiredProperty:
              summary: Missing required property
              value: "Request body: \"lineItems\": Required."
            missingCustomerAddress:
              summary: Missing "customerAddress"
              value: "Request body: \"customerAddress\": Invalid input."
            usAddressMissingCountry:
              summary: A US customer address must include the "country" property.
              value: "Request body: \"customerAddress\": Unrecognized key(s) in object:\
                \ 'state', 'zipCode'."
            redundantTimeZoneProvided:
              summary: If accountingDate is provided then accountingTimeZone must
                be omitted.
              value: "Request body: Cannot specify both accountingDate and accountingTimeZone."
            missingAccountingDate:
              summary: Not enough info to determine accounting date
              value: "Request body: Must specify either accountingDate or accountingTimeZone."
          schema:
            type: string
      description: Bad Request
    CreateNegationBadRequest:
      content:
        application/json:
          examples:
            missingRequestProperty:
              summary: Required property missing
              value: "Request body: \"newTransactionId\": Required."
          schema:
            type: string
      description: Bad Request
    CreateNegationConflict:
      content:
        application/json:
          example:
            type: transactionExpectedVersionMismatch
          schema:
            $ref: '#/components/schemas/inline_object_2'
      description: Conflict
    ListTransactionsSuccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_3'
      description: OK
    ListTransactionsBadRequest:
      content:
        text/plain:
          examples:
            invalidFilterProvided:
              summary: Invalid filter
              value: "Request body: \"filter\": Invalid input."
            invalidLastModifiedAfterFilterValueProvided:
              summary: Invalid lastModifiedAfter filter value
              value: "Request body: \"filter\": \"value\": Invalid format; expecting\
                \ \"YYYY-MM-DDTHH:mm:ss.dddZ\"."
            invalidFilingInfoFilterValueProvided:
              summary: Invalid filingInfo filter value
              value: "Request body: \"filter\": \"value\": \"jurisId\": Invalid juris\
                \ ID: \"invalid-juris-id\"."
            invalidLimitProvided:
              summary: Invalid limit
              value: "Request body: \"limit\": Number must be less than or equal to\
                \ 20."
            cursorAndFilterBothProvided:
              summary: Cursor and filter cannot both be provided
              value: "Request body: cursor and filter cannot both be provided."
          schema:
            type: string
      description: Bad Request
    ListTransactionsConflict:
      content:
        application/json:
          examples:
            invalidCursor:
              summary: Invalid cursor
              value:
                type: invalidCursor
            listTransactionsApiNotEnabled:
              summary: List transactions API not enabled
              value:
                type: listTransactionsApiNotEnabled
          schema:
            $ref: '#/components/schemas/inline_object_4'
      description: Conflict
    ListFilingsSuccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_5'
      description: OK
    ListFilingsBadRequest:
      content:
        text/plain:
          examples:
            invalidJurisIdProvided:
              summary: Invalid juris ID
              value: "Request body: \"filter\": \"jurisId\": Invalid juris ID: \"\
                fake-juris-id\""
            invalidPeriodEndDateRangeInclusiveProvided:
              summary: Invalid period end date range
              value: "Request body: \"filter\": \"periodEndDateRangeInclusive\": Invalid\
                \ period end date range: begin date comes after end date."
            invalidLimitProvided:
              summary: Invalid limit
              value: "Request body: \"limit\": Number must be less than or equal to\
                \ 100."
            cursorAndFilterBothProvided:
              summary: Cursor and filter cannot both be provided
              value: "Request body: cursor and filter cannot both be provided."
          schema:
            type: string
      description: Bad Request
    ListFilingsConflict:
      content:
        application/json:
          examples:
            invalidCursor:
              summary: Invalid cursor
              value:
                type: invalidCursor
            listFilingsApiNotEnabled:
              summary: List filings API not enabled
              value:
                type: listFilingsApiNotEnabled
          schema:
            $ref: '#/components/schemas/inline_object_6'
      description: Conflict
    ListFilingTransactionIdsSuccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_7'
      description: OK
    ListFilingTransactionIdsBadRequest:
      content:
        text/plain:
          examples:
            invalidCursorProvided:
              summary: Invalid cursor
              value: "Request body: \"cursor\": Invalid cursor"
            invalidLimitProvided:
              summary: Invalid limit
              value: "Request body: \"limit\": Number must be less than or equal to\
                \ 2500."
          schema:
            type: string
      description: Bad Request
    ListFilingTransactionIdsConflict:
      content:
        application/json:
          examples:
            jurisIdNotFound:
              summary: Juris ID not found
              value:
                type: jurisIdNotFound
            filingListTransactionIdsApiNotEnabled:
              summary: List filing transaction IDs API not enabled
              value:
                type: filingListTransactionIdsApiNotEnabled
          schema:
            $ref: '#/components/schemas/inline_object_8'
      description: Conflict
    ListFilingTransactionsWithConversionRatesSuccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_9'
      description: OK
    ListFilingTransactionsWithConversionRatesBadRequest:
      content:
        text/plain:
          examples:
            invalidLimitProvided:
              summary: Invalid limit
              value: "Request body: \"limit\": Number must be less than or equal to\
                \ 1000."
          schema:
            type: string
      description: Bad Request
    ListFilingTransactionsWithConversionRatesConflict:
      content:
        application/json:
          examples:
            invalidCursor:
              summary: Invalid cursor
              value:
                type: invalidCursor
            jurisIdNotFound:
              summary: Juris ID not found
              value:
                type: jurisIdNotFound
            filingListTransactionsWithConversionRatesApiNotEnabled:
              summary: List filing transactions with conversion rates API not enabled
              value:
                type: filingListTransactionsWithConversionRatesApiNotEnabled
          schema:
            $ref: '#/components/schemas/inline_object_10'
      description: Conflict
    ListProductsSuccess:
      content:
        application/json:
          example:
            products:
            - name: Default (Stripe)
              description: ""
              taxCategoryId:
                type: standard
                id: digitalGoodsPermanentBusiness
              taxCategoryName: "Digital goods, Permanent use, B2B"
              createdTime: 2026-06-24T23:36:07.122Z
              productType: default
              defaultForSellerIntegrationId: si445fn945z5
              defaultForLineItemType: product
            - name: Acme Enterprise
              description: Premium Acme offering for enterprise customers
              taxCategoryId:
                type: standard
                id: saasBusiness
              taxCategoryName: "SaaS - General, B2B"
              createdTime: 2026-06-04T00:00:00.000Z
              productType: regular
              externalId: ENT1
            nextCursor: null
            hasMore: false
          schema:
            $ref: '#/components/schemas/inline_object_11'
      description: OK
  schemas:
    CustomerName:
      description: The name of the customer. This is used for display purposes only.
      type: string
    CreateCustomer:
      example:
        emailAddress: emailAddress
        name: name
        id: id
      properties:
        id:
          description: "Your unique identifier for this customer. \nThis must exactly\
            \ match the customer ID that your billing system or integration  will\
            \ send on transactions, so that the customer's transactions and exemption\
            \ certificates link up. For Anrok-native billing integrations, customer\
            \ IDs are prefixed with the integration type (for example `stripe:cus_K39sWBu92Lo`).\
            \  Customer IDs are unique across the entire seller account.\n"
          type: string
        name:
          description: The name of the customer. This is used for display purposes
            only.
          type: string
        emailAddress:
          description: Optional email address of the customer.
          format: email
          nullable: true
          type: string
      required:
      - id
      - name
    CustomerResponse:
      example:
        emailAddress: emailAddress
        name: name
        id: id
      properties:
        id:
          description: Your unique identifier for this customer.
          type: string
        name:
          description: The name of the customer. This is used for display purposes
            only.
          type: string
        emailAddress:
          description: "The email address of the customer, if one has been provided."
          format: email
          nullable: true
          type: string
      required:
      - emailAddress
      - id
      - name
    CustomerId:
      description: |
        The Anrok customer ID used to link transactions for the same customer and to look up tax exemption certificates for a customer. This is typically the billing system's customer ID with a prefix to disambiguate.
        - If customerId is provided without customerName, that customer object must
          already exist in Anrok.
        - If both customerId and customerName are provided, the customer object will
          be created if it is not already present.
        - Customer IDs are unique across the entire seller account.
      type: string
    CustomerCertificateFile:
      example:
        contentsBase64: contentsBase64
        name: name
      properties:
        name:
          description: File name
          type: string
        contentsBase64:
          description: Base64 encoded certificate image contents
          type: string
      required:
      - contentsBase64
      - name
    CustomerCertificateJuris:
      example:
        effectiveDateEndi: 2000-01-23
        notes: notes
        registrationId: registrationId
        jurisId: us-AK
      properties:
        jurisId:
          description: Jurisdiction ID for which this exemption should apply (US only).
          enum:
          - us-AK
          - us-AL
          - us-AR
          - us-AS
          - us-AZ
          - us-CA
          - us-CO
          - us-CT
          - us-DC
          - us-DE
          - us-FL
          - us-GA
          - us-GU
          - us-HI
          - us-IA
          - us-ID
          - us-IL
          - us-IN
          - us-KS
          - us-KY
          - us-LA
          - us-MA
          - us-MD
          - us-ME
          - us-MI
          - us-MN
          - us-MO
          - us-MP
          - us-MS
          - us-MT
          - us-NC
          - us-ND
          - us-NE
          - us-NH
          - us-NJ
          - us-NM
          - us-NV
          - us-NY
          - us-OH
          - us-OK
          - us-OR
          - us-PA
          - us-PR
          - us-RI
          - us-SC
          - us-SD
          - us-TN
          - us-TX
          - us-UT
          - us-VA
          - us-VI
          - us-VT
          - us-WA
          - us-WI
          - us-WV
          - us-WY
          type: string
        registrationId:
          description: Registration ID for jurisdiction. This is used for display
            purposes only.
          type: string
        effectiveDateEndi:
          description: Expiration date of certificate in this jurisdiction
          format: date
          type: string
        notes:
          description: Optional internal notes. This is used for display purposes
            only.
          type: string
      required:
      - jurisId
    CustomerCertificate:
      example:
        exemptionNumber: exemptionNumber
        notes: notes
        customerId: customerId
        effectiveDateBegin: 2000-01-23
        certificateFile:
          contentsBase64: contentsBase64
          name: name
        type: agricultural
        jurises:
        - effectiveDateEndi: 2000-01-23
          notes: notes
          registrationId: registrationId
          jurisId: us-AK
        - effectiveDateEndi: 2000-01-23
          notes: notes
          registrationId: registrationId
          jurisId: us-AK
        customerName: customerName
      properties:
        customerId:
          description: |
            The Anrok customer ID used to link transactions for the same customer and to look up tax exemption certificates for a customer. This is typically the billing system's customer ID with a prefix to disambiguate.
            - If customerId is provided without customerName, that customer object must
              already exist in Anrok.
            - If both customerId and customerName are provided, the customer object will
              be created if it is not already present.
            - Customer IDs are unique across the entire seller account.
          type: string
        customerName:
          description: The name of the customer. This is used for display purposes
            only.
          type: string
        effectiveDateBegin:
          description: Effective date of certificate
          format: date
          type: string
        exemptionNumber:
          description: Certificate exemption number. This is used for display purposes
            only.
          type: string
        notes:
          description: Optional internal notes.
          type: string
        type:
          description: |
            The type of exemption the certificate represents. If omitted or null, no type is recorded.

            - `agricultural`: agricultural use.
            - `directPay`: direct pay permit.
            - `educational`: educational institution.
            - `energy`: energy-related exemption.
            - `governmentFederal`: federal government entity.
            - `governmentOther`: other government entity.
            - `governmentState`: state government entity.
            - `healthcare`: healthcare organization.
            - `manufacturing`: used in manufacturing.
            - `nativeAmericanTribal`: Native American tribal entity.
            - `nonprofit`: nonprofit organization.
            - `other`: other exemption type.
            - `religious`: religious organization.
            - `resale`: purchased for resale.
            - `researchDevelopment`: research and development use.
          enum:
          - agricultural
          - directPay
          - educational
          - energy
          - governmentFederal
          - governmentOther
          - governmentState
          - healthcare
          - manufacturing
          - nativeAmericanTribal
          - nonprofit
          - other
          - religious
          - resale
          - researchDevelopment
          - null
          nullable: true
          type: string
        certificateFile:
          $ref: '#/components/schemas/CustomerCertificateFile'
        jurises:
          description: Jurisdictions for which certificate applies
          items:
            $ref: '#/components/schemas/CustomerCertificateJuris'
          type: array
      required:
      - certificateFile
      - customerId
      - effectiveDateBegin
      - jurises
    CustomerCertificateJurisResponse:
      example:
        effectiveDateEndi: 2000-01-23
        notes: notes
        registrationId: registrationId
        jurisId: jurisId
      properties:
        jurisId:
          description: Jurisdiction ID for which this exemption applies.
          type: string
        registrationId:
          description: Registration ID for the jurisdiction. This is used for display
            purposes only.
          type: string
        effectiveDateEndi:
          description: Expiration date of the certificate in this jurisdiction. Null
            if the certificate has no expiration date in this jurisdiction.
          format: date
          nullable: true
          type: string
        notes:
          description: Optional internal notes. This is used for display purposes
            only.
          type: string
      required:
      - effectiveDateEndi
      - jurisId
      - notes
      - registrationId
    CustomerCertificateResponse:
      example:
        expiryDate: 2000-01-23
        exemptionNumber: exemptionNumber
        notes: notes
        customerId: customerId
        createdTime: 2000-01-23T04:56:07.000+00:00
        effectiveDateBegin: 2000-01-23
        id: id
        type: agricultural
        jurises:
        - effectiveDateEndi: 2000-01-23
          notes: notes
          registrationId: registrationId
          jurisId: jurisId
        - effectiveDateEndi: 2000-01-23
          notes: notes
          registrationId: registrationId
          jurisId: jurisId
        customerName: customerName
        status: active
      properties:
        id:
          description: The Anrok-assigned ID of the certificate.
          type: string
        status:
          description: |
            The current status of the certificate.

            - `active`: the certificate is valid.
            - `expiringSoon`: the certificate is valid but expires within 60 days in at least one jurisdiction.
            - `expired`: the certificate has expired in every jurisdiction it covers.
            - `archived`: the certificate has been archived.
          enum:
          - active
          - expiringSoon
          - expired
          - archived
          type: string
        customerId:
          description: The Anrok customer ID of the customer the certificate belongs
            to.
          type: string
        customerName:
          description: The name of the customer.
          type: string
        createdTime:
          description: The time at which the certificate was created in Anrok.
          format: date-time
          type: string
        effectiveDateBegin:
          description: Effective date of the certificate.
          format: date
          type: string
        expiryDate:
          description: The earliest expiration date across all jurisdictions covered
            by the certificate. Null if no jurisdiction has an expiration date set.
          format: date
          nullable: true
          type: string
        exemptionNumber:
          description: Certificate exemption number.
          type: string
        notes:
          description: Optional internal notes.
          type: string
        type:
          description: |
            The type of exemption the certificate represents. Null if no type has been recorded.

            - `agricultural`: agricultural use.
            - `directPay`: direct pay permit.
            - `educational`: educational institution.
            - `energy`: energy-related exemption.
            - `governmentFederal`: federal government entity.
            - `governmentOther`: other government entity.
            - `governmentState`: state government entity.
            - `healthcare`: healthcare organization.
            - `manufacturing`: used in manufacturing.
            - `nativeAmericanTribal`: Native American tribal entity.
            - `nonprofit`: nonprofit organization.
            - `other`: other exemption type.
            - `religious`: religious organization.
            - `resale`: purchased for resale.
            - `researchDevelopment`: research and development use.
          enum:
          - agricultural
          - directPay
          - educational
          - energy
          - governmentFederal
          - governmentOther
          - governmentState
          - healthcare
          - manufacturing
          - nativeAmericanTribal
          - nonprofit
          - other
          - religious
          - resale
          - researchDevelopment
          - null
          nullable: true
          type: string
        jurises:
          description: The jurisdictions to which the certificate applies.
          items:
            $ref: '#/components/schemas/CustomerCertificateJurisResponse'
          type: array
      required:
      - createdTime
      - customerId
      - customerName
      - effectiveDateBegin
      - exemptionNumber
      - expiryDate
      - id
      - jurises
      - notes
      - status
      - type
    TransactionLineItem:
      example:
        amount: -2147483648
        isTaxIncludedInAmount: true
        quantity: quantity
        productExternalId: productExternalId
        id: id
      properties:
        id:
          description: "Optional identifier for the line item. This is saved by Anrok\
            \ and returned in the response, but not used for anything by Anrok."
          type: string
        productExternalId:
          description: A product ID that has already been defined in the Anrok UI
            (under "Product IDs"). This is used to determine whether the line item
            is taxable.
          type: string
        amount:
          description: The sale price in the smallest denomination of the currency
            (e.g. cents or pennies).
          maximum: 100000000000
          minimum: -100000000000
          type: integer
        isTaxIncludedInAmount:
          description: Whether the line item already includes tax in the amount.
          type: boolean
        quantity:
          description: "The quantity of the line item, as a string (e.g. `3` or `0.5`)."
          type: string
      required:
      - amount
      - productExternalId
    CustomerAddress:
      example:
        country: country
        city: city
        postalCode: postalCode
        region: region
        line1: line1
      properties:
        country:
          description: The country's full name or 2-letter ISO code
          nullable: true
          type: string
        line1:
          description: The "delivery line" of the address
          nullable: true
          type: string
        city:
          description: City or town name
          nullable: true
          type: string
        region:
          description: "Other principal subdivision (i.e. province, state, county)"
          nullable: true
          type: string
        postalCode:
          description: Postal code
          nullable: true
          type: string
      title: Address
    CustomerLegacyUsOnlyAddress:
      deprecated: true
      example:
        country: us
        line1: 123 Main St
        city: White Plains
        state: NY
        zipCode: "10601"
      properties:
        country:
          enum:
          - us
          type: string
        line1:
          description: The "delivery line" of the address
          nullable: true
          type: string
        city:
          description: The standard USPS format
          nullable: true
          type: string
        state:
          description: The standard USPS format
          nullable: true
          type: string
        zipCode:
          description: The standard USPS format
          nullable: true
          type: string
      required:
      - country
      title: Legacy US only address
    CustomerEmailAddress:
      description: The email address of the customer. This is used for display purposes
        only.
      format: email
      type: string
    CustomerTaxId:
      description: The customer VAT registration number for a non-US country
      example:
        type: genericVatNumber
        value: value
      properties:
        type:
          description: This setting is purely metadata and does not affect tax calculation.
          enum:
          - genericVatNumber
          - euVrn
          type: string
        value:
          description: The customer VAT registration number for a non-US country
          type: string
      required:
      - type
      - value
    Transaction:
      properties:
        lineItems:
          description: The line items in the transaction.
          items:
            $ref: '#/components/schemas/TransactionLineItem'
          type: array
        currencyCode:
          description: Three letter ISO currency code (case insensitive).
          maxLength: 3
          minLength: 3
          type: string
        customerAddress:
          $ref: '#/components/schemas/Transaction_customerAddress'
        customerName:
          description: The name of the customer. This is used for display purposes
            only.
          type: string
        customerEmailAddress:
          description: The email address of the customer. This is used for display
            purposes only.
          format: email
          type: string
        customerTaxIds:
          description: Tax IDs for the customer receiving the product
          items:
            $ref: '#/components/schemas/CustomerTaxId'
          type: array
        shipFromAddress:
          $ref: '#/components/schemas/Transaction_shipFromAddress'
        accountingDate:
          description: "The date that this transaction occurred, for accounting purposes.\
            \ Accounting date will typically correspond to the invoice date. This\
            \ is used to determine which tax return the transaction belongs to."
          example: 2017-07-21
          format: date
          type: string
        accountingTime:
          description: "The time that this transaction occurred, for accounting purposes.\
            \ If `accountingDate` is not provided, `accountingTime` is required to\
            \ compute an accounting date for the transaction."
          example: 2017-07-21T17:32:28Z
          format: date-time
          type: string
        accountingTimeZone:
          description: "A “tz database” string used to compute an accounting date\
            \ from the request's `accountingTime`. The request cannot provide both\
            \ an `accountingDate` and an `accountingTimeZone`. If `accountingTime`\
            \ is provided without specifying an `accountingTimeZone`, the time zone\
            \ configured on the seller account will be used."
          enum:
          - UTC
          - America/New_York
          - America/Chicago
          - America/Denver
          - America/Los_Angeles
          - America/Anchorage
          - Pacific/Honolulu
          - Australia/Perth
          - Australia/Adelaide
          - Australia/Darwin
          - Australia/Brisbane
          - Australia/Sydney
          - America/Halifax
          - America/Toronto
          - America/Winnipeg
          - America/Regina
          - America/Edmonton
          - America/Vancouver
          - Europe/Berlin
          - Europe/Brussels
          - Europe/Dublin
          - Europe/Helsinki
          - Europe/London
          - Europe/Paris
          - Europe/Rome
          - Europe/Stockholm
          - Asia/Tokyo
          - Asia/Singapore
          type: string
        taxDate:
          description: "The date to use for tax calculations. If omitted, Anrok will\
            \ use the accounting date."
          example: 2017-07-21
          format: date
          type: string
      required:
      - currencyCode
      - customerAddress
      - lineItems
    CreateOrUpdateTransaction:
      allOf:
      - $ref: '#/components/schemas/Transaction'
      - properties:
          customerId:
            $ref: '#/components/schemas/CustomerId'
          id:
            description: The ID of the new transaction. This must be unique across
              the entire seller account. This is typically the billing system's invoice
              ID with some prefix to disambiguate different systems.
            type: string
        required:
        - id
      example:
        customerAddress:
          country: country
          city: city
          postalCode: postalCode
          region: region
          line1: line1
        accountingDate: 2017-07-21
        customerEmailAddress: customerEmailAddress
        accountingTime: 2017-07-21T17:32:28Z
        taxDate: 2017-07-21
        customerName: customerName
        lineItems:
        - amount: -2147483648
          isTaxIncludedInAmount: true
          quantity: quantity
          productExternalId: productExternalId
          id: id
        - amount: -2147483648
          isTaxIncludedInAmount: true
          quantity: quantity
          productExternalId: productExternalId
          id: id
        shipFromAddress:
          country: country
          city: city
          postalCode: postalCode
          region: region
          line1: line1
        accountingTimeZone: UTC
        customerTaxIds:
        - type: genericVatNumber
          value: value
        - type: genericVatNumber
          value: value
        customerId: null
        id: id
        currencyCode: currencyCode
    NotTaxedReason:
      example:
        reason:
          type: reverseCharge
        type: exempt
      properties:
        type:
          description: The reason a line item is not taxed.
          enum:
          - exempt
          - jurisHasNoTax
          - notCollecting
          - productNotTaxed
          type: string
        reason:
          $ref: '#/components/schemas/NotTaxedReason_reason'
    CreateEphemeralTransactionSuccess:
      example:
        lineItems:
        - taxAmountToCollect: 1
          id: id
          preTaxAmount: preTaxAmount
          jurises:
          - notTaxedReason:
              reason:
                type: reverseCharge
              type: exempt
            name: name
            taxes:
            - taxableAmount: taxableAmount
              taxRate: taxRate
              taxAmount: taxAmount
              taxName: taxName
            - taxableAmount: taxableAmount
              taxRate: taxRate
              taxAmount: taxAmount
              taxName: taxName
          - notTaxedReason:
              reason:
                type: reverseCharge
              type: exempt
            name: name
            taxes:
            - taxableAmount: taxableAmount
              taxRate: taxRate
              taxAmount: taxAmount
              taxName: taxName
            - taxableAmount: taxableAmount
              taxRate: taxRate
              taxAmount: taxAmount
              taxName: taxName
        - taxAmountToCollect: 1
          id: id
          preTaxAmount: preTaxAmount
          jurises:
          - notTaxedReason:
              reason:
                type: reverseCharge
              type: exempt
            name: name
            taxes:
            - taxableAmount: taxableAmount
              taxRate: taxRate
              taxAmount: taxAmount
              taxName: taxName
            - taxableAmount: taxableAmount
              taxRate: taxRate
              taxAmount: taxAmount
              taxName: taxName
          - notTaxedReason:
              reason:
                type: reverseCharge
              type: exempt
            name: name
            taxes:
            - taxableAmount: taxableAmount
              taxRate: taxRate
              taxAmount: taxAmount
              taxName: taxName
            - taxableAmount: taxableAmount
              taxRate: taxRate
              taxAmount: taxAmount
              taxName: taxName
        taxAmountToCollect: 0
        jurisSummaries:
        - notTaxedReasons:
          - reason:
              type: reverseCharge
            type: exempt
          - reason:
              type: reverseCharge
            type: exempt
          name: name
        - notTaxedReasons:
          - reason:
              type: reverseCharge
            type: exempt
          - reason:
              type: reverseCharge
            type: exempt
          name: name
        preTaxAmount: preTaxAmount
      properties:
        taxAmountToCollect:
          description: "The total tax amount to collect from the customer, in the\
            \ smallest denomination of the currency (e.g. cents or pennies)."
          format: int64
          type: integer
        lineItems:
          description: "The tax amount to collect, pre-tax amount, and taxes by jurisdiction\
            \ for each line item. Line items are returned in the same order they are\
            \ received."
          items:
            $ref: '#/components/schemas/CreateEphemeralTransactionSuccess_lineItems_inner'
          type: array
        preTaxAmount:
          description: "The total pre-tax amount for the transaction, in the smallest\
            \ denomination of the currency (e.g. cents or pennies)."
          format: Decimal
          type: string
        jurisSummaries:
          description: "For each jurisdiction, a summary of the reasons that the line\
            \ items are not taxed, or null if some items are taxed."
          items:
            $ref: '#/components/schemas/CreateEphemeralTransactionSuccess_jurisSummaries_inner'
          type: array
[...]
